{% extends 'layout_home.html' %}

{% block content %}
<div class="blackbackground_90vh py-5">
    <div class="container my-5 whitebackground red_box_shadow rounded py-4 px-4">
        <h2>Das "Dark Pattern Escape-Room" Projekt</h2>
        <p>
            Das Dark Pattern Escape-Room ist im Rahmen meiner Bachelorarbeit entstanden. Die Grundlegende Idee des Projekts ist es ein Tool zu schaffen, das Nutzer*innen auf das Thema
            aufmerksam und mit den häufigsten „Dark Patterns“ vertraut macht. <br>
            Nahezu jede Webseite im Internet verfolgt kommerzielle Interessen und versucht im Zuge
            dessen die Daten, Aufmerksamkeit oder das Engagement ihrer Nutzer*innen auf
            verschiedenen Wegen zu verwerten, um daraus Profit zu schlagen. Dieser Verwertungsprozess
            kann für alle von Vorteil sein, auch für die Nutzer*innen, die zum Beispiel von dem Service
            einer Webseite profitieren können. Allerdings werden Nutzer*innen oft auch zugunsten der
            Webseitenbetreiber*innen geschädigt, beispielsweise durch intransparente Vorgänge oder
            Manipulation. Eine Ebene, auf der diese Ausbeutung stattfindet, ist die Benutzeroberfläche.
            Hier kommen sogenannte <b>Dark Patterns</b> zum Einsatz. Das bedeutet, dass die
            Benutzeroberfläche bewusst gestaltet wird, um Nutzer*innen zu manipulieren, ungewollte
            und oft unbemerkte Aktionen auszuführen, von denen die Betreiber*innen profitieren. Das
            bekannteste Beispiel sind wohl Cookie-Dialoge, die durch kryptische oder irreführende
            Angaben, Manipulation der Aufmerksamkeit oder voreingestellte Zustimmung ihre
            Nutzer*innen so manipulieren, dass sie ihre wertvollen Daten preisgeben. Andere Beispiele
            sind Newsletter und Abonnements, die durch einen ungewollten Klick aktiv werden und keine
            oder schwer zu findende Optionen zum Kündigen haben. Die Liste von Beispielen ist lang
            und die Vielfalt der Dark Patterns groß. Dabei sind Dark Patterns nicht harmlos, sie können
            die Selbstbestimmtheit und Autonomie von Menschen einschränken, finanziellen Schaden
            anrichten, für aggressives Datensammeln benutzt werden, Vertrauen beschädigen und zu
            einem Ungleichgewicht der Macht zwischen Nutzer*innen und Webseitenbetreiber*innen
            beitragen.
        </p>
        <h3>Was das Dark Pattern Escape-Room Spiel zur Verbesserung der Situation beitragen soll </h3>
        <p> Obwohl den meisten bekannt ist, dass im Internet manipulative Techniken benutzt werden, ist das
            Konzept von Dark Patterns noch recht unbekannt. Die Hoffnung ist, dass Menschen durch
            mehr Bewusstsein für das Thema individuell weniger von Patterns betroffen sind. Darüber
            hinaus könnte durch eine Förderung der Aufmerksamkeit für Dark Patterns größerer
            Handlungsdruck entstehen, diese Manipulationstechniken zu regulieren.
        </p>
    </div>  
</div>

{% endblock %}