
{% extends 'main_css.html' %}

<div class="content">
{% block body %}
    <div class="container py-5">
        <h1>Danke fürs Teilnehmen</h1>
        <p> Wenn Cognitive Science an der Uni Osnabrück studierst, kannst du dir 0.5 VP Stunden anrechnen lassen. Gib dazu deinen Namen und deine Mtrikelnummer an.</p>
        <div class="border border-dark-subtle rounded px-4 py-5">
            <form action="{{ url_for('fragebogen_vp') }}" method="post">
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <label for="name">Name Nachname: </label>
                        <br>
                        <input type="text" name="name" id="name" placeholder="Name" value="{{name if name}}" required
                                oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('name');">
                    </div>
                    <div class="col">
                        <label for="matrikelnr">Matrikelnummer: </label>
                        <br>
                        <!-- muss 6 stellige Nummer sein -->
                        <input type="number" min="99999" max="1000000" name="matrikelnr" id="matrikelnr" placeholder="Matrikel-Nr." value="{{matrikelnr if matrikelnr}}" required 
                                oninvalid="this.setCustomValidity('Feld muss ausgefüllt und 6 Ziffern lang sein')" oninput="clearValidity('matrikelnr');">
                    </div>
                    <div class="col">
                        <input type="submit" value="Abschicken" class="btn btn-success float-end">
                    </div>
                </div>
            </form>
            <p class="text-success fw-bold mt-3">{{validation}}</p>
        </div>
        {% if show_feedback_form %}
        <div id="feedback_container" class="mt-5">
            <h5><b>(Optional)</b> <br> Feedback</h5>
            <p>Wenn du Verbesserungsvorschläge oder Kritik hast, oder dir Bugs aufgefallen sind, teile es gerne mit. (Nicht für VP-Stunden nötig)</p>
            <div class="border border-dark-subtle rounded px-4 py-5 mt-3">
                <form action="{{ url_for('feedback_form') }}" method="post">
                    <label for="feedback">Feedback:</label>
                    <textarea name="feedback" id="feedback"></textarea>
                    <input type="submit" class="btn btn-success float-end mt-3" value="Abschicken">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
</div>