
{% extends 'main_css.html' %}

<div class="content">
{% block body %}
    <div class="container py-5 my-5">
        <h1>Fragebogen zum Spiel</h1>
        <p> Die folgenden Fragen beziehen sich auf die Bedienbarkeit des Spiels als ganzes- also von Einleitung bis zur Endübersicht- und weniger auf die Bedienbarkeit einzelner Dark Patterns (die ja oft bewusst schlecht gestaltet ist). </p>
        <p> Bitte lese die Fragen aufmerksam durch und versuche intuitiv darauf zu antworten ohne zu lange darüber nachzudenken.
            Alle Items müssen angekreuzt werden. Wenn du dir unsicher bist, kreuze "Neutral" an.</p>
        <h3>Bedienbarkeit:</h3>
        <div class="border border-dark-subtle rounded pe-4 py-5">
            <form action="{{ url_for('fragebogen_SUS') }}" method="post">
                <ol>
                    <li>
                        <label for="gerne_oft"><b>Ich denke, dass ich die Anwendung gerne häufig benutzen würde.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="gerne_oft" id="gerne_oft" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('gerne_oft');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="gerne_oft" value="1" oninput="clearValidity('gerne_oft'); "/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="gerne_oft" value="2" oninput="clearValidity('gerne_oft');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="gerne_oft" value="3" oninput="clearValidity('gerne_oft');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="gerne_oft" value="4" oninput="clearValidity('gerne_oft');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="komplex"><b>Ich fand die Anwendung unnötig komplex.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="komplex" id="komplex" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('komplex');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="komplex" value="1" oninput="clearValidity('komplex');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="komplex" value="2" oninput="clearValidity('komplex');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="komplex" value="3" oninput="clearValidity('komplex');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="komplex" value="4" oninput="clearValidity('komplex');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="gerne_oft"><b>Ich fand die Anwendung einfach zu benutzen.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="einfach" id="einfach" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('einfach');" />
                            </div>
                            <div class="col"> 
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="einfach" value="1" oninput="clearValidity('einfach');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="einfach" value="2" oninput="clearValidity('einfach');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="einfach" value="3" oninput="clearValidity('einfach');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="einfach" value="4" oninput="clearValidity('einfach');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="hilfe"><b>Ich glaube, ich hätte Hilfe benötigt, um die Anwendung zu können.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="hilfe" id="hilfe" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('hilfe');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="hilfe" value="1" oninput="clearValidity('hilfe');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="hilfe" value="2" oninput="clearValidity('hilfe');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="hilfe" value="3" oninput="clearValidity('hilfe');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="hilfe" value="4" oninput="clearValidity('hilfe');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="funktionen_integriert"><b>Ich fand, die verschiedenen Funktionen in dieser Anwendung waren gut integriert.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="funktionen_integriert" id="funktionen_integriert" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('funktionen_integriert');" />
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="funktionen_integriert" value="1" oninput="clearValidity('funktionen_integriert');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="funktionen_integriert" value="2" oninput="clearValidity('funktionen_integriert');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="funktionen_integriert" value="3" oninput="clearValidity('funktionen_integriert');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="funktionen_integriert" value="4" oninput="clearValidity('funktionen_integriert');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="inkonsistenzen"><b>Ich denke, die Anwendung enthielt zu viele Inkonsistenzen.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="inkonsistenzen" id="inkonsistenzen" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="this.setCustomValidity('')" oninput="clearValidity('inkonsistenzen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="inkonsistenzen" value="1" oninput="clearValidity('inkonsistenzen');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="inkonsistenzen" value="2" oninput="clearValidity('inkonsistenzen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="inkonsistenzen" value="3" oninput="clearValidity('inkonsistenzen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="inkonsistenzen" value="4" oninput="clearValidity('inkonsistenzen');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="umgang_lernen"><b>Ich kann mir vorstellen, dass die meisten Menschen den Umgang mit dieser Anwendung sehr schnell lernen.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="umgang_lernen" id="umgang_lernen" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')"  oninput="clearValidity('umgang_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="umgang_lernen" value="1" oninput="clearValidity('umgang_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="umgang_lernen" value="2" oninput="clearValidity('umgang_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="umgang_lernen" value="3" oninput="clearValidity('umgang_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="umgang_lernen" value="4" oninput="clearValidity('umgang_lernen');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="umstaendlich"><b>Ich fand die Anwendung sehr umständlich zu nutzen.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="umstaendlich" id="umstaendlich" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('umstaendlich');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="umstaendlich" value="1" oninput="clearValidity('umstaendlich');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="umstaendlich" value="2" oninput="clearValidity('umstaendlich');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="umstaendlich" value="3" oninput="clearValidity('umstaendlich');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="umstaendlich" value="4" oninput="clearValidity('umstaendlich');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="benutzung_sicher"><b>Ich fühlte mich bei der Benutzung die Anwendungs sehr sicher.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="benutzung_sicher" id="benutzung_sicher" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('benutzung_sicher');" />
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="benutzung_sicher" value="1" oninput="clearValidity('benutzung_sicher');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="benutzung_sicher" value="2" oninput="clearValidity('benutzung_sicher');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="benutzung_sicher" value="3" oninput="clearValidity('benutzung_sicher');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="benutzung_sicher" value="4" oninput="clearValidity('benutzung_sicher');"/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="musste_lernen"><b>Ich musste eine Menge lernen, bevor ich anfangen konnte die Anwendung zu verwenden.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="musste_lernen" id="musste_lernen" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('musste_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="musste_lernen" value="1"  oninput="clearValidity('musste_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="musste_lernen" value="2"  oninput="clearValidity('musste_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="musste_lernen" value="3"  oninput="clearValidity('musste_lernen');"/>
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="musste_lernen" value="4" oninput="clearValidity('musste_lernen');"/>
                            </div>
                        </div>
                    </li>
                </ol> 
                <p class="text-danger fw-bolder m-auto">{{ status }}</p>
                <input type="submit" value="Abschicken" class="btn btn-success float-end">
            </form>
        </div>
    </div>
{% endblock %}
</div>