
{% extends 'main_css.html' %}

<div class="content">
{% block body %}
    <div class="container py-5 my-5">
        <h1>Fragebogen zum Spiel</h1>
        <p> Bitte lese die Fragen Aufmerksam durch und versuche intuitiv darauf zu antworten ohne zu lange darüber nachzudenken.
            Alle Items müssen angekreuzt werden, wenn du dir unsicher bist, kreuze "Neutral" an.</p>
        <div class="border border-dark-subtle rounded pe-4 py-5">
            <form action="{{ url_for('fragebogen_allgemein') }}" method="post">
                <ol>
                    <li>
                        <label for="interesse_gefoerdert"><b>Das Spiel hat mein Interesse am Themengebiet "Dark Patterns" gefördert.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="interesse_gefoerdert" id="interesse_gefoerdert" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('interesse_gefoerdert');">
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="interesse_gefoerdert" value="1" oninput="clearValidity('interesse_gefoerdert');">
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="interesse_gefoerdert" value="2" oninput="clearValidity('interesse_gefoerdert');">
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="interesse_gefoerdert" value="3" oninput="clearValidity('interesse_gefoerdert');">
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="interesse_gefoerdert" value="4" oninput="clearValidity('interesse_gefoerdert');">
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="viel_gelernt"><b>Ich habe viel in diesem Spiel gelernt</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="viel_gelernt" id="viel_gelernt" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('viel_gelernt');">
                            </div>
                            <div class="col">
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="viel_gelernt" value="1" oninput="clearValidity('viel_gelernt');">
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="viel_gelernt" value="2" oninput="clearValidity('viel_gelernt');">
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="viel_gelernt" value="3" oninput="clearValidity('viel_gelernt');">
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="viel_gelernt" value="4" oninput="clearValidity('viel_gelernt');">
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="interesse_gefoerdert"><b>Das Spiel hat mich motiviert, mich in Zukunft aufmerksamer im Internet zu bewegen.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="aufmerksamkeit" id="aufmerksamkeit" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('aufmerksamkeit');">
                            </div>
                            <div class="col"> 
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="aufmerksamkeit" value="1"  oninput="clearValidity('aufmerksamkeit');">
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="aufmerksamkeit" value="2"  oninput="clearValidity('aufmerksamkeit');">
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="aufmerksamkeit" value="3"  oninput="clearValidity('aufmerksamkeit');">
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="aufmerksamkeit" value="4"  oninput="clearValidity('aufmerksamkeit');">
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="interesse_gefoerdert"><b>Das Spiel zu spielen hat Spass gemacht.</b></label>
                        <div class="row align-items-center text-center border border-dark-subtle rounded mb-4">
                            <div class="col">
                                <p>Stimme überhaupt nicht zu</p>
                                <input type="radio" name="spass" id="spass" value="0" required oninvalid="this.setCustomValidity('Feld muss ausgefüllt sein')" oninput="clearValidity('spass');">
                            </div>
                            <div class="col"> 
                                <p>Stimme eher nicht zu</p>
                                <input type="radio" name="spass" value="1"  oninput="clearValidity('spass');">
                            </div>
                            <div class="col">
                                <p>Neutral</p>
                                <input type="radio" name="spass" value="2"  oninput="clearValidity('spass');">
                            </div>
                            <div class="col">
                                <p>Stimme eher zu</p>
                                <input type="radio" name="spass" value="3"  oninput="clearValidity('spass');">
                            </div>
                            <div class="col">
                                <p>Stimme voll zu</p>
                                <input type="radio" name="spass" value="4"  oninput="clearValidity('spass');">
                            </div>
                        </div>
                    </li>
                </ol>
                <input type="submit" value="Abschicken" class="btn btn-success float-end">
            </form>
        </div>
    </div>
{% endblock %}
</div>