<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.P. Escape</title>
    <style>

    </style>
</head>
<body>
    {% extends 'layout_home.html' %}

    {% block content %}
    <div id="body" class="container">
        <b id="logo1">Dark Pattern</b><br><span id="logo2">Escape Room</span>
        <div id="beschreibung">
            <p> Dark Pattern ist ein Begriff, der manipulatives Oberflächendesign auf Websites, Apps oder Spielen beschreibt.
                Diese Dark Patterns manipulieren oder täuschen Nutzer*innen gezielt so, dass sie Dinge tun, die sie slebst nicht so vorhatten,
                zum Beispiel ungewollt Cookies aktzeptieren, Newsletter abbonieren oder mehr Geld auszugeben als eigentlich geplant. <br>
                Das <b>Dark Pattern Escape Room</b> Spiel ist ein Brwoserspiel, bei dem der Spieler*innen die Problemlage und bestimmte Mechanismen hinter Dark Patterns bewusst gemacht werden soll. <br>
            </p>
            <h5>Schaffst du es nicht manipuliert zu werden und de Dark Patterns zu entkommen?</h4>
            <button type="button" class="btn btn-success" id="btn_intro_toggle" data-bs-target="#beschreibung #intro"> Ja klar, los gehts</button>
        </div>
        <hr>
        <div class="container" id="intro">
            <div class="row" id="intro">
                <div class="col">
                    <p> Dein Urlaub steht bevor, das wird Toll!
                        Du träumst schon vom Strand, der Sonne und dem Geräusch der Wellen. <br>
                        Bevor es losgeht, musst du allerdings noch ein paar Dinge im Internet erledigen: <br>
                    </p>
                    <ul>
                        <li> Du musst dein Streaming-Abo beenden, da du es während des Urlaubs nicht brauchst und es zu teuer ist es weiter laufen zu lassen.</li>
                        <li> Zusätzlich ist dir aufgefallen, dass für den Urlaub noch Sonnencreme gebraucht wird, die du Online einkaufen willst.</li>
                    </ul>
                </div>
                <div class="col-4">
                    <img class="img-fluid float-end rounded bild-intro" src="{{url_for('static', filename='hammock_CC0.jpg')}}" alt="Strand am Meer, mit leichten Wellen und blauem Himmel">
                </div>
            </div>
            <hr>
            <div id="anleitung" class="container">
                <div class="row">
                    <div id="todo" class="col-4">
                        <h3>Deine Aufgabe</h3>
                        <img class="img-fluid rounded" src="{{url_for('static', filename='Clipboard.png')}}" alt="Clipboard mit den zu erledigenden Aufgaben">
                    </div>
                    <div class="col">
                        <p> Hier auf dem Clipboard siehst du die Aufgaben, die du in diesem Spiel erledigen musst. Zunächst klingen die Aufgaben ein Streaming-Abo zu beenden
                             und einfach Sonnencreme zu bestellen simpel und alltäglich. Aber <b>Achtung!</b> diese Websites sind voll mit Dark Patterns, 
                             die dich dazu bringen wollen, das Abo doch nicht zu beenden oder mehr Geld als geplant auszugeben. <br>
                        </p>
                        <hr>
                        <p>
                             Dein Ziel ist es den <b>Dark Patterns</b> so gut es geht <b>auszuweichen</b> ohne das <b>Zeitlimit</b> zu überschreiten 
                             -Bis zu Urlaub ist es nicht mehr viel Zeit!
                        </p>
                        <a href="{{url_for('deceptv')}}"><button class="btn btn-success">Weiter zu Level 1: Streaming Abo</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
/*          $(document).ready(function(){
            $('#intro').hide();
            $('#btn_intro_toggle').click(function () {
                $('#beschreibung').hide('slow', function(){
                    $('#into').fadeIn('slow')
                });;
            })
        }); */
    </script>
    {% endblock %}
    
</body>
</html>