<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.P. Escape</title>
    <style>

    </style>
</head>
<body>
    {% extends 'layout_home.html' %}

    {% block content %}
    <div id="body" class="container">
        <b id="logo1">Dark Pattern</b><br><span id="logo2">Escape Room</span>
        <div id="beschreibung">
            <p> Dark Pattern ist ein Begriff, der manipulatives Oberflächendesign auf Websites, Apps oder Spielen beschreibt.
                Diese Dark Patterns manipulieren oder täuschen Nutzer*innen gezielt so, dass sie Dinge tun, die sie slebst nicht so vorhatten,
                zum Beispiel ungewollt Cookies aktzeptieren, Newsletter abbonieren oder mehr Geld auszugeben als eigentlich geplant. <br>
                Das <b>Dark Pattern Escape Room</b> Spiel ist ein Brwoserspiel, bei dem der Spieler*innen die Problemlage und bestimmte Mechanismen hinter Dark Patterns bewusst gemacht werden soll. <br>
            </p>
            <h5>Schaffst du es nicht manipuliert zu werden und de Dark Patterns zu entkommen?</h4>
            <a href="{{url_for('home_intro')}}"><button type="button" class="btn btn-success" id="btn_intro_toggle" data-bs-target="#beschreibung #intro"> Ja klar, los gehts</button></a>
        </div>
        <hr>
    </div>
    {% endblock %}
    
</body>
</html>