
{% extends 'main_css.html' %}

    <div class="content">
    {% block body %}
        <noscript>
            <div class="container" id="noscript">
                <h1>  Aktivieren Sie JavaScript, um und diese Seite voll nutzen zu können.</h1>
            </div>
        </noscript>
        
        <div class="navigation">
            {% block navigation %}
            
            {% endblock %}
        </div>

        <div class="content">
            {% block content %} 
            
            {% endblock %}
        </div>

        <!-- Fußzeile mit den Werten der jeweiligen Session -->
        <div class="fussleiste mainbackground maincolor" >

            <div class="cookieleiste">
                {% block cookieleiste %}

                {% endblock %}
            </div>

            <div class="row text-center pt-3">
                <div class="col">
                    <!-- Link zur "Home" Seite um das spiel zu unterbrechen oder Anleitungen noch einmal durch zu gehen -->
                    <!-- Flex element, da es zusammen mit der Zeit-Bar in die col untergebracht werden muss -->
                    <a class="btn btn-outline-danger fussleiste_brand" href="{{url_for('home_intro')}}">
                        <b>Hauptmenü</b>
                    </a>
                    <!-- Größe der Bar wird an den "Hauptmenü" Button angepasst -->
                    <div id="container_zeit_bar" class="d-2 progress position-relative" style="height: 36px;">
                        <h3 id="zeit_anzeige" class="position-absolute text-dark">{{session['countdown']}}s</h3>
                        <!-- Zeit für level 1 = 8 min = 480 s. Um richtig darzustellen muss im bereich [0-100] runtergezählt werden, also geteilt durch 4.8 -->
                        {% if session['level_fortschritt'] == 0 %}
                        <div id="zeit_bar" class="progress-bar progress-bar-striped bg-danger" role="progressbar" 
                            style="width: {{ session['countdown']/4.8}}%" aria-valuenow="{{session['countdown']}}" aria-valuemin="0" aria-valuemax="480">
                        </div>
                        <!-- Zeit für level 2 Countdown = 5 min = 300 s. Um richtig darzustellen muss im bereich [0-100] runtergezählt werden, also geteilt durch 3 -->
                        {% elif session['level_fortschritt'] >= 1 %}
                        <div id="zeit_bar" class="progress-bar progress-bar-striped bg-danger" role="progressbar" 
                            style="width: {{ session['countdown']/3}}%" aria-valuenow="{{session['countdown']}}" aria-valuemin="0" aria-valuemax="300">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="progress position-relative">
                        <p id="data_text" class="position-absolute start-50 text-dark fw-bolder">{{session['data_score']}}</p>
                        <div id="data_bar" class="progress-bar bg-primary" role="progressbar" style="width: {{session['data_score']}}%" 
                            aria-valuenow="{{session['data_score']}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Daten</h3>
                </div>
                <div class="col">
                    <div class="progress position-relative">
                        <p id="geld_text" class="position-absolute start-50 text-dark fw-bolder">{{session['geld_score']}}€</p>
                        <div id="geld_bar" class="progress-bar bg-warning" role="progressbar" style="width: {{ session['geld_score' ]*4 }}%" 
                            aria-valuenow="{{ session['geld_score' ]}}%" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Geld</h3>
                </div>
                <div class="col me-3"><!-- padding-right:2 da durch überlänge die seite nach recht verlängert würde -->
                    <div class="progress position-relative">
                        <p id="dp_score_text" class="position-absolute start-50 text-dark fw-bolder">{{session['dp_score']}}</p>
                        <div id="dp_score_bar" class="progress-bar bg-success" role="progressbar" style="width: {{ session['dp_score'] }}%" 
                            aria-valuenow="{{ session['dp_score'] }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Dark Pattern Score</h3>
                </div>
            </div>
        </div>

        <div class="cookiemodal">
            {% block cookiemodal %} 
            
            {% endblock %}
        </div>

        <!-- Modal trigger button -->
        <button type="button" class="btn btn-primary btn-lg visually-hidden" data-bs-toggle="modal" data-bs-target="#modalId">
          Launch
        </button>
        
        <!-- Modal Body -->
        <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
        <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Body
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Optional: Place to the bottom of scripts -->
        <script>
            const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
        
        </script>

    {% endblock %}
    </div>
    