{% extends 'layout_home.html' %}

{% block content %}
<div class="blackbackground_90vh py-5">
    <div class="container my-5 whitebackground red_box_shadow rounded py-4 px-4">
        <h2>Weiterführende Informationen</h2>
        <ul>
            <li>
                <h4>deceptive.design Website (Englisch)</h4>
                <p> Auf der Website des Begründers des Begriffs findest du Informationen zu Dark Patterns un Beispiele dazu.
                    Darüber hinaus hat das Team eine Übersicht für rechtliche Klagen gegen oder auf Grund von Dark Patterns gegen Betreiber, die diese einsetzen.</p>
                <a href="https://www.deceptive.design/">deceptive.design</a>
            </li>
            <li>
                <h4>dapde - Dark Pattern Detection Project (Deutsch)</h4>
                <p>"Das Dark Pattern Detection Project (Dapde) untersucht die Steuerung von Verbaucher:innen in digitalen Umgebungen durch "Dark Patterns".
                    Hier findest du wissenschaftliche Publikationen und andere Materialien zu Dark Patterns. 
                    Außerdem hat das Team ein Browser-Plugin entwickelt, dass Dark Patterns auf Websiten erkennt und markiert.
                    Wenn du ein Dark Pattern findest kannst du es hier melden.
                </p>
                <a href="https://dapde.de/de/">dapde.de</a>
            </li>
            <li>
                <h4>Dark Pattern Tip Line</h4>
                <p>Das Dark Pattern Tip Line ist eine große Sammlung an Dark Pattern Beispielen. Hier können Dark Patterns gemeldet werden. 
                    Auf der Basis dieser Sammlung wird Forschung zum Thema betrieben.
                </p>
                <a href="v">darkpatternstipline.org</a>
            </li>
            <li>
                <h4>Artikel und Spiel der Verbraucherzentrale zu Dark Patterns</h4>
                <p>In dem Artikel findest du neben Informationen zu Dark Patterns auch ein Spiel, in dem du Dark Patterns in Cookie Bannern lösen musst.</p>
                <a href="https://www.verbraucherzentrale.de/wissen/digitale-welt/onlinedienste/dark-patterns-so-wollen-websites-und-apps-sie-manipulieren-58082">verbraucherzentrale.de</a>
            </li>
            <li>
                <h4>Spiel: Terms and Conditions Apply (Englisch)</h4>
                <p>In dem Spiel "Terms & Conditions Apply" musst du absurde und witzige Cookie Banner so lösen, dass du keine Cookies annimmst.</p>
                <a href="https://www.termsandconditions.game/">Zum Spiel</a>
            </li>
        </ul>
    </div>  
</div>
{% endblock %}