/*-----------------------------------------------------------------------------------------------------------------------  */
    /* CSS für alle Seiten */
    body{
        text-align: justify
    }
    .content{
        margin-bottom: 25px;
    }
    .fussleiste{
        position: sticky;
        bottom: 0;
    }
    .mainbackground{
        background-color: rgb(19, 11, 26);
    }
    .maincolor{
        color: white;
    }
    /*-----------------------------------------------------------------------------------------------------------------------  */
    /* CSS für die Landingpage */
    .nav_landing{
        text-shadow: 1px 1px 1px rgb(0, 0, 255)
    }
    .nav_item_landing{
        color: white;
    }
    .nav_item_landing a:hover{
        box-shadow: 0 0 5px rgb(255, 0, 0);
        border-radius: 5px;
    }
    .navbar-brand{
        padding: 5px 10px;
    }
    #logo1{
        text-shadow: 0px 0px 3px rgb(255, 0, 0);
        font-size: 40px;
    }
    #logo2{
        font-weight: 300;
        font-size: 30px;
        text-align: right;
        line-height: 0px;
        text-shadow: 0px 0px 3px rgb(255, 0, 0)
    }
    .bild-intro{
        max-height: 350px;
    }
    /*-----------------------------------------------------------------------------------------------------------------------  */
    /* CSS für Level 1: Streamingdienst kündigen */
    /* Navigationsleiste */
    .nav_level1{
        background-color:rgb(32, 39, 53);
    }
    .nav_item_level1{
        color: white;
    }
    .nav_item_level1 a:hover{
        box-shadow: 0 0 5px rgb(0, 174, 255);
        border-radius: 5px;
    }
    .account_menu{
        margin: 0px 5px;
        padding-left: 0px;
    }
    .account_menu_options{
        line-height: 50px;
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
    }
    .account_menu_options a{
        text-decoration: none;
        color: white;
    }
    .account_menu_options a:hover{
        text-decoration: none;
        text-shadow: 0 0 2px rgb(0, 174, 255);;
    }
    /* Kontent */
    .content_level1{
        background-color: rgb(32, 39, 53);
        color: white;
        text-shadow: 0px 0px 50px black;
    }
    .carousel_container{
        margin: 20px 20px;
    }
    .showcase{
        width: 100%;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .carousel-item img{
        border-radius: 5px;
        max-height: 200px;
        margin: 5px 0px;
    }
    .carousel-item img:hover{
        cursor: pointer;
    }
    
