
{% extends 'layout_level2.html' %}

    {% block content %}
    <div class=" content_level2">
        <!-- bis auf die Preis- und Mengenangabe, dem Bild und dem Namen identisch zu decepdive_prudukt 1-8 -->
        <div class="container py-5">
            <div class="row">
                <div class="col-3 ">
                    <img class="rounded img-fluid" src="{{url_for('static', filename='images/decepdive/suncream1.jpg')}}" alt="Sonnencreme">
                </div>
                <div class="col ">
                    <h2> Super Sun LSF 50, 400ml</h2>
                    <p class="produktbeschreibung"><b class="text-warning">★★★★☆</b> (534) </p>
                    <hr>
                    <p class="produktbeschreibung">
                        Preis: <b>9,99€</b><br> <br>
                        <b class="text-success">Lieferbar bis: Übermorgen</b> <br>
                        <b class="text-danger"> Sei schnell!! nur noch: 3 auf Lager!!</b></p>
                    <hr>
                    <h3>Produktbeschreibung</h3>
                    <p> Super Sun Protect 50 schützt sie hervorragend for Sonnenbränden.<br>
                        - Selbst bei praller Sonne können sie außerhalb des Schattens entspannen<br>
                        - Pflegt die Haut, mit unserer ganz speziellen Formel für feuchtigkeitsspende<br>
                        - Sehr ergiebig <br>
                        - Verpackung mit recyceltem Plastik*<br>
                        - Auch für Kinder geeignet<br>
                        - Schon 5 Minuten nach dem Auftragen wasserfest<br>
                        - Riffschonende Formel, um die Aquaflora zu schützen<br>
                        <small>*Der Anteil an recyceltem PET liegt bei 10 %</small>
                    </p>
                    <hr>
                    <h3>Infos über das Produkt</h3>
                    <p>
                        Inhalt: 400ml <br>
                        Farbe der Creme: Weiß <br>
                    </p>
                </div>
                <div class="col-3 text-start text-secondary">
                    <div class="border border-dark-subtle rounded px-2">
                        <form action="{{ url_for('add_warenkorb') }}" method="POST">
                            <input type="radio" name="bestellung" value="bestellung_einzel" id="bestellung_einzel">
                            <label for="bestellung_einzel"><small>Einzelbestellung</small></label>
                            <hr>
                            <input type="radio" name="bestellung" value="bestellung_monatl" checked="true">
                            <label for="bestellung_monatl"><small> Monatliche Bestellung: <b>10% Rabatt</b></small></label>
                            <input class="visually-hidden" type="text" name="dp_vergleich" value="teurer">
                            <p> <small> nutzen sie den Komfort, dass immer Nachschub kommt und sie sich keine Sorgen machen müssen,
                                falls ihr Produkt bald leer wird. Mit der monatlichen Lieferung sparen sie sich die Arbeit
                                immer neu bestellen zu müssen und bekommen nebenbei auch noch 10% Rabatt auf jede Fuhre 
                            </small></p>
                            <hr>
                            <input type="submit" class="btn btn-success mb-2 " value="Zum Warenkorb hinzufügen">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
    </script>
    {% endblock %}

