
{% extends 'layout_level2.html' %}

{% block content %}
<div class=" content_level2">
    <div class="container py-5">
        <div>
            <h3><a class="text-black" href="{{ url_for('decepdive_warenkorb') }}">Warenkorb</a> |
                <a class="text-black" href="{{ url_for('decepdive_warenkorb2') }}">Konto</a>  |
                <b class="text-primary">Daten</b> | Übersicht | Zahlung
            </h3>
        </div>
        <div class="border border-dark-subtle rounded py-5 px-5" >
            <h3>Bitte gebe deine Daten an</h3>
            <p>Vorname, Nachname:</p>
            <input type="text" name="name" class="form-control-sm" placeholder="Maxi">
            <input type="text" name="nachname" class="form-control-sm" placeholder="Mustermensch">
            <p>Adresse:</p>
            <input type="text" class="form-control-sm" placeholder="Straßenstraße">
            <input type="text" class="form-control-sm" placeholder="Nr. 6"> 
            <input type="text" class="form-control-sm" placeholder="99999">
            <input type="text" class="form-control-sm" placeholder="Musterstadt"> 
            <p>Telefonnummer, E-Mail:</p>
            <input type="text" class="form-control-sm" placeholder="123456789876543">
            <input type="text" class="form-control-sm" placeholder="maxi-mustermensch@darkpattermail.com"> 
            <div class="pt-4">
                <div class="btn btn-outline-secondary" 
                        onclick="url_delay_set_session('{{ session['dp_misdirect_konto_erstellen'] }}', '{{url_for('decepdive_warenkorb4')}}', {'dp_score': 5, 'dp_misdirect_konto_erstellen': 1 });">
                        Weiter
                </div>
                <div class="btn btn-success float-end" 
                        onclick="url_delay_set_session('{{ session['dp_misdirect_konto_erstellen'] }}', '{{url_for('decepdive_warenkorb4')}}', {'data_score': -10, 'dp_misdirect_konto_erstellen': 0 });">
                        Konto erstellen und weiter
                </div>
            </div>
        </div>
        <div class="platzfülller" style="height: 200px;"></div>
    </div>
</div>
<script>
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
</script>
{% endblock %}

