
{% extends 'layout_level2.html' %}

    {% block content %}
    <div class=" content_level2">
        <div class="container py-5">
            <div id="misdirection">
                <div>
                    <h3> Warenkorb | Konto | Daten | <b class="text-primary">Übersicht</b> | Zahlung</h3>
                </div>
                <div class="border border-dark-subtle rounded py-5 px-5" >
                    <table class="table ">
                        <thead>
                        <tr>
                            <th scope="col">Warenkorb</th>
                            <th scope="col">Inhalt</th>
                            <th scope="col">Stück</th>
                            <th scope="col">Preis</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr>
                            <th scope="row">1</th>
                            <td>Sonnencreme LSF50 500ml</td>
                            <td>1</td>
                            <td>9.95€</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Aftersun Probe 30ml</td>
                            <td>1</td>
                            <td>0.99€</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Versand</td>
                            <td>1</td>
                            <td>4.99€</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Monatslieferungs-Rabatt</td>
                            <td>10%</td>
                            <td>-0.99€</td>
                        </tr>
                        <tfoot>
                            <th scope="row "><b>Total</b></th>
                            <td></td>
                            <td></td>
                            <td>14.94€</td>
                        </tfoot>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-10">
                            <div class="btn btn-close-white" 
                                onclick="
                                    url_delay_set_session('{{ session['dp_misdirect_spende'] }}','{{url_for('ende_lv2')}}', {'dp_score': 5, 'dp_misdirect_spende': 1 });
                                    progress_add('dp_score_bar','dp_score_text', 5);">
                                <p class="misdirection_text">Jetzt Zahlen <br>
                                <small>ohne Spende</small> </p>
                             </div>
                        </div>
                        <div class="col">
                            <div class="btn btn-success" onclick="
                                    url_delay_set_session('{{ session['dp_misdirect_spende'] }}','{{url_for('ende_lv2')}}', {'geld_score': -10, 'dp_misdirect_spende': 0 });
                                    progress_add('dp_score_bar','dp_score_text', 4);">
                                Jetzt Zahlen <br>
                                <span class="small_text">mit Spende</span>
                            </div>
                        </div>
                        <p>In Kooperation mit dem Projekt DecepLive sammeln wir Spenden um die Meeresflora zu retten- Wir würden uns sehr über einen Beitrag freuen.
                            Meer Infos findest du hier <a href="#">DecepLive.com</a>. Danke!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="platzfülller" style="height: 250px;"></div>
    </div>
    <script>
        document.getElementById("ende_lv2").style.display = "none";
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
    </script>  
    {% endblock %}

