
{% extends 'layout_level2.html' %}

{% block content %}
<div class=" content_level2">
    <div class="container py-5">
        <div>
            <h3> Warenkorb | <b class="text-primary">Konto</b> | Daten | Übersicht | Zahlung</h3>
        </div>
        <div class="border border-dark-subtle rounded">
            <!-- vertikal zentrieren mit flex-column und justify-content-center -->
            <div id="container_konto" class="d-flex flex-column justify-content-center">
                <!-- horizontal zentrieren -->
                <div class="text-center">
                    <div class="border border-dark-subtle rounded ">
                        <h3>Anmelden</h3>
                        <input type="text" class="form-control-sm" placeholder="Benutzername">
                        <input type="text" class="form-control-sm" placeholder="Passwort"> 
                        <p class="btn btn-primary">Anmelden</p>
                        <div class="d-grid gap-2 w-75 my-5 mx-auto">
                            <div class="btn btn-success" 
                                onclick="url_delay_set_session('{{ session['dp_misdirect_login'] }}', '{{ url_for('decepdive_warenkorb3') }}', {'data_score': -10, 'dp_misdirect_login': 0 });">
                                Google
                            </div> <br>
                            <div class="btn btn-success"
                                onclick="url_delay_set_session('{{ session['dp_misdirect_login'] }}', '{{ url_for('decepdive_warenkorb3') }}', {'data_score': -10, 'dp_misdirect_login': 0 });">
                                Facebook
                            </div> <br>
                            <div  class="text-secondary text-decoration-none small_text cursor_pointer"
                                    onclick="url_delay_set_session('{{ session['dp_misdirect_login'] }}', '{{ url_for('decepdive_warenkorb3') }}', {'dp_score': 5, 'dp_misdirect_login': 1 });">
                                Weiter als Gast
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="platzfülller" style="height: 100px;">

        </div>
    </div>
</div>
<script>
    window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
</script>
{% endblock %}
