
{% extends 'layout_level2.html' %}

{% block content %}
<div class="content_level2">
    <div class="px-5 py-5">
        <div class="container">
            <h1>So hast du in Level 2 abgeschnitten:</h1>

            {% set dp_count = namespace(value=0) %}
            {% set data_count = namespace(value=0) %}
            {% for loesung in dp_list_lv2 %}
                {% if loesung != None %}
                    <!-- Zähle anzahl richtig gelöster Dark Patterns allgemein (>= 1 anstatt == 1 für Bug-Prevention)-->
                    {% if loesung >= 1 %}
                        {% set dp_count.value = dp_count.value + 1 %}
                    {% endif %}
                    <!-- Zähle anzahl richtig gelöster Dark Patterns die sich auf den Daten Score auswirken -->
                    {% if loop.index0 < 6  %}
                        {% if loesung >= 1 %}
                            {% set data_count.value = data_count.value + 1 %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="lightblue_box_shadow rounded py-4 px-4 my-3">
                <h2>Data Score</h2>   
                <p> Du hast <span class="text-primary fw-bolder">{{ data_count.value }} von 6</span> Dark Patterns, die dir Daten abluchsen wollten richtig gelöst
                    und damit <span class="text-primary fw-bolder "> {{data_count.value*10}}</span> von maximal  <span class="text-primary fw-bolder ">60</span>
                    Data Score Punkten behalten</p>
            </div>
            <div class="yellow_box_shadow rounded py-4 px-4 my-3">
                <h2>Geld Score</h2>
                {% if (session['warenkorb']+ session['spende_lv2']) == 13.98 %}
                    <h4>Perfekt gemacht!</h4>
                    <p>Du hast dir absolut keine Kosten unterschieben lassen.</p>
                    <p>Dein Geld Score beträgt damit: <span class="text-warning fw-bolder text_shadow">{{ session['geld_score']|round(2) }}</span>€</p>
                {% elif session['dp_preticked_monatl'] == None or  session['dp_preticked_monatl'] == 0 %}
                    <h4>Da du eine monatlich wiederkehrende Bestellung abgeschlossen hast, werden dir die 9€ für die Sonnencreme 2x abgebucht. </h4>
                    <p> Damit hast du in diesem Level <span class="text-warning fw-bolder text_shadow">{{ (session['warenkorb']+ session['spende_lv2']+9)|round(2) }}</span>
                        € ausgegeben. <br> Der bestmögliche Wert ist <span class="text-warning fw-bolder text_shadow">13.98</span>€.
                    </p>
                {% else %}
                    <p> Du hast in diesem Level 
                        <span class="text-warning fw-bolder text_shadow">{{ session['warenkorb']+ session['spende_lv2']|round(2) }}</span>
                        € ausgegeben. <br> Der bestmögliche Wert ist <span class="text-warning fw-bolder text_shadow">13.98</span>€.
                    </p>
                {% endif %}
            </div>
            <div class="green_box_shadow rounded py-4 px-4 my-3">
                <h2>Dark Pattern Score</h2> 
                <p>Du hast in Level 2 <span class="text-success fw-bolder">{{ dp_count.value }} von 10</span> Dark Patterns richtig gelöst
                und damit <span class="text-success fw-bolder "> {{dp_count.value*5}}</span> Dark Pattern Score Punkte erhalten</p>
            </div>
            <div class="accordion my-1" id="accordion_dp_1">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_1">
                        {% if session['dp_cookielv2_trickquestion'] == 0 or session['dp_cookielv2_trickquestion'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_1" aria-expanded="true" aria-controls="collapse_dp_1">
                            Nicht gelöst: Trick Question/ Bait and Switch Dark Pattern - Negierte Fragestelleung und Farbgebung
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_1" aria-expanded="true" aria-controls="collapse_dp_1">
                            Gelöst: Trick Question/ Bait and Switch Dark Pattern - Negierte Fragestelleung und Farbgebung
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_1" class="accordion-collapse collapse" aria-labelledby="heading_dp_1" data-bs-parent="#accordion_dp_1">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Trick Question:</b> Verwirrend formulierte Frage (z.B. doppelte Verneinung).*</p>
                                    <p><b>Hier: </b>Negierte Fragestellung, anstatt nach Zustimmung wird nach Ablehnung gefragt. </p>
                                    <hr>
                                    <p><b>Bait and Switch: </b> Klick auf Schaltfläche führt zu anderem Ergebnis als üblicherweise erwartet.*</p>
                                    <p><b>Hier: </b>Normalerweise ist die Bedeutung des "Ja"-Knopfes Zustimmung zu der Nutzung von Cookies. 
                                        Auch die Farbgebung ist umgedreht zu dem, was Leute, die sich mit manipulativen Cookiebannern auseinandergesetzt haben, normalerweise in diesem Kontext erwarten würden.
                                        Fazit: oft kann es sich lohnen, Farben komplett zu ignorieren und nur auf den Inhalt zu achten.
                                    </p>
                                    <p></p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_10.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_2">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_2">
                        {% if session['dp_cookielv2_trickquestion2'] == 0 or session['dp_cookielv2_trickquestion2'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_2" aria-expanded="true" aria-controls="collapse_dp_2">
                            Nicht gelöst: Trick Question/ Bait and Switch Dark Pattern - Negativ Fragestellung und unerwartete Funktion der Antwortknöpfe.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_2" aria-expanded="true" aria-controls="collapse_dp_2">
                            Gelöst: Trick Question/ Bait and Switch Dark Pattern - Negativ Fragestellung und unerwartete Funktion der Antwortknöpfe.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_2" class="accordion-collapse collapse" aria-labelledby="heading_dp_2" data-bs-parent="#accordion_dp_2">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Trick Question:</b> Verwirrend formulierte Frage (z.B. doppelte Verneinung).*</p>
                                    <p><b>Hier: </b>Doppelte Verneinung. </p>
                                    <hr>
                                    <p><b>Bait and Switch: </b> Klick auf Schaltfläche führt zu anderem Ergebnis als üblicherweise erwartet.*</p>
                                    <p><b>Hier: </b>Normalerweise ist die Bedeutung des "Ja"-Knopfes Zustimmung zu der Nutzung von Cookies. 
                                    </p>
                                    <p></p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_11.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_3">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_3">
                        {% if session['dp_cookielv2_berechtigt'] == 0 or session['dp_cookielv2_berechtigt'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_3" aria-expanded="true" aria-controls="collapse_dp_3">
                            Nicht gelöst: Hidden Information/ Preselection Dark Pattern.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_3" aria-expanded="true" aria-controls="collapse_dp_3">
                            Gelöst: Hidden Information/ Preselection Dark Pattern.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_3" class="accordion-collapse collapse" aria-labelledby="heading_dp_3" data-bs-parent="#accordion_dp_3">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="row">
                                    <div class="col">
                                        <p><b>Hidden Information: </b>Für die Nutzer*in relevante Informationen sind versteckt oder nur schwer verfügbar.*</p>
                                        <p><b>Hier:</b> Die relevante Information, dass Daten auf Basis von berechtigtem Interesse gesammelt werden, ist durch drei Tricks versteckt. <br>
                                            1. Die Position: Die Information ist unterhalb einer Linie, die sie von den scheinbar relevanten Informationen abtrennt.
                                             Bewusste Steuerung der Aufmerksamkeit ist nötig um sie zu entdecken. <br>
                                            2. Die Schriftgröße ist sehr viel kleiner. <br>
                                            3. Misdirection Dark Pattern: Die großen grünen Knöpfe oberhalb lenken die Aufmerksamkeit auf sich und damit weg von der Information</p>
                                        <hr>
                                        <p><b>Preselection: </b>Auswahlmöglichkeiten sind bereits (abänderbar) getroffen, insbesondere durch gesetzte Häkchen.*</p>
                                        <p><b>Hier: </b> Nach dem "Opt-Out"-Prinzip muss der Sammlung der Daten widersprochen werden, indem die Häkchen entfernt werden. <br>
                                            Für "normale" Cookies ist das innerhalb der EU illegal, wenn allerdings "berechtigtes Interesse" angeführt wird, ist das wiederum legal.
                                            Dies ist recht weit verbreitet und oft gut versteckt in den Cookie-Optionen
                                        </p>
                                    </div>
                                    <div class="col">
                                        <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_12.jpg') }}" alt="Screenshot aus dem Spiel">
                                        <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_12_2.jpg') }}" alt="Screenshot aus dem Spiel">
                                    </div>
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_4">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_4">
                        {% if  session['dp_vergleich'] == 0 or session['dp_vergleich'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_4" aria-expanded="true" aria-controls="collapse_dp_4">
                            Nicht gelöst: Price Comparison Prevention Dark Pattern - Unterschiedliche Mengenangaben erschweren Preisvergleich.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_4" aria-expanded="true" aria-controls="collapse_dp_4">
                            Gelöst:  Price Comparison Prevention Dark Pattern - Unterschiedliche Mengenangaben erschweren Preisvergleich.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_4" class="accordion-collapse collapse" aria-labelledby="heading_dp_4" data-bs-parent="#accordion_dp_4">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Price Comparison Prevention Dark Pattern: </b>Preisvergleich erschwert. (z.B. unterschiedliche Maßeinheiten oder Fremdwährungen).*</p>
                                    <p><b>Hier: </b> Unterschiedliche Maßeinheiten zwingen dazu, den Preis selbst auszurechnen. (Meistens wird dieses Dark Pattern sehr viel subtiler eingesetzt) <br>
                                        Links neben den Produkten gibt es eine ausfahrbare Tabelle mit einer Übersicht über die Mengeneinheiten.
                                    </p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_13.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_5">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_5">
                        {% if  session['dp_preticked_monatl'] == 0 or session['dp_preticked_monatl'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_5" aria-expanded="true" aria-controls="collapse_dp_5">
                            Nicht gelöst: Preselection/ Hidden Subsciption Dark Pattern - Monatlich wiederkehrende Bestellung.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_5" aria-expanded="true" aria-controls="collapse_dp_5">
                            Gelöst: Preselection/ Hidden Subsciption Dark Pattern - Monatlich wiederkehrende Bestellung.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_5" class="accordion-collapse collapse" aria-labelledby="heading_dp_5" data-bs-parent="#accordion_dp_5">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Preselection Dark Pattern: </b>Auswahlmöglichkeiten sind bereits (abänderbar) getroffen, insbesondere durch gesetzte Häkchen.*</p>
                                    <p><b>Hier: </b>Das Häkchen für die Einzelbestellung muss manuell ausgewählt werden. Falls das nicht der Fall war, wird am Ende vom Level der Einkauf doppelt abgezogen. </p>
                                    <hr>
                                    <p><b>Hidden Subsciption Dark Pattern:</b> Automatische (oder versteckte) Anmeldung zu Leistungen/Angeboten.*</p>
                                    <p> Wer hier hereinfallen würde, würde sich in einem Monat wahrscheinlich wundern.</p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_14.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_6">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_6">
                        {% if  session['dp_sneakinbasket'] == 0 or session['dp_sneakinbasket'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_6" aria-expanded="true" aria-controls="collapse_dp_6">
                            Nicht gelöst: Sneak into Basket/Hidden Costs Dark Pattern - Artikel wird ungefragt in Warenkorb gelegt.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_6" aria-expanded="true" aria-controls="collapse_dp_6">
                            Gelöst: Sneak into Basket Dark Pattern - Artikel wird ungefragt in Warenkorb gelegt.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_6" class="accordion-collapse collapse" aria-labelledby="heading_dp_6" data-bs-parent="#accordion_dp_6">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Sneak into Basket Dark Pattern:</b> Zusätzliches Objekt landet ungewollt im Warenkorb.*</p>
                                    <p><b>Hier:</b> Der Artikel muss erst aus dem Warenkorb entfernt werden, indem das Kreuz links gedrückt wird.</p>
                                    <hr>
                                    <p><b>Hidden Costs Dark Pattern:</b> Zusatzkosten erscheinen erst im letzten Schritt.*</p>
                                    <p><b>Hier:</b> Wenn der Artikel im letzten Schritt noch im Warenkorb ist, werden sich die Versandkosten erhöhen</p> 
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_15.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_7">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_7">
                        {% if  session['dp_hiddennewsletter'] == 0 or session['dp_hiddennewsletter'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_7" aria-expanded="true" aria-controls="collapse_dp_7">
                            Nicht gelöst: Hidden Subsciption Sub Dark Pattern - Versteckter Newsletter
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_7" aria-expanded="true" aria-controls="collapse_dp_7">
                            Gelöst: Hidden Subsciption Dark Pattern - Versteckter Newsletter
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_7" class="accordion-collapse collapse" aria-labelledby="heading_dp_7" data-bs-parent="#accordion_dp_7">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Hidden Subsciption:</b> Automatische (oder versteckte) Anmeldung zu Leistungen/Angeboten.*</p>
                                    <p><b>Hier:</b> Der Newsletter muss explizit abgelehnt werden. 
                                        Dafür muss auf das kleine graue Häkchen links neben dem "Weiter"-Knopf gedrückt werden, dadurch erscheint eine Auswahl-Schaltfläche auf der "Ich lehne ab" gedrückt werden muss.</p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_16.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_8">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_8">
                        {% if  session['dp_misdirect_login'] == 0 or session['dp_misdirect_login'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_8" aria-expanded="true" aria-controls="collapse_dp_8">
                            Nicht gelöst: Misdirection/ Forced Enrollment Dark Pattern - Seite will Login erzwingen.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_8" aria-expanded="true" aria-controls="collapse_dp_8">
                            Gelöst: Misdirection/ Forced Enrollment Dark Pattern - Seite will Login erzwingen.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_8" class="accordion-collapse collapse" aria-labelledby="heading_dp_8" data-bs-parent="#accordion_dp_8">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Misdirection Dark Pattern:</b> Design lenkt durch auffällige graphische Elemente vom Inhalt ab.*</p>
                                    <p><b>Hier: </b> Die richtige Option, "Weiter als Gast" ist unscheinbar grau und außerhalb des Bereichs platziert, in dem der restliche Content ist. 
                                        Gleichzeitig lenken die vollen, grünen Knöpfe ihre Aufmerksamkeit auf sich.</p>
                                    <hr>
                                    <p><b>Forced Enrollment Dark Pattern:</b> Nutzung eines Services nur bei Abschluss eines Abos/Kundenkontos.*</p>
                                    <p><b>Hier: </b> Streng genommen ist es in diesem Fall kein <b>forced</b> Enrollment, da dies ein nicht zu umgehendes Dark Pattern darstellt und somit der Logik des Spiels widerspräche.
                                        Zur Veranschaulichung: Wenn es die Option "Weiter als Gast" nicht hier wäre, gäbe es kein weiterkommen, ohne ein Konto zu erstellen. 
                                        Die Intention so einer Praxis wird in den meisten Fällen sein, dass sich durch die eingegebenen Informationen Daten besser sammeln und verknüpfen lassen.
                                        </p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_17.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_9">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_9">
                        {% if  session['dp_misdirect_konto_erstellen'] == 0 or session['dp_misdirect_konto_erstellen'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_9" aria-expanded="true" aria-controls="collapse_dp_9">
                            Nicht gelöst: Misdirection/ Bait and Switch Dark Pattern - Gewohnt platzierter "Weiter"-Knopf erstellt ungewollt Konto.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_9" aria-expanded="true" aria-controls="collapse_dp_9">
                            Gelöst: Misdirection/ Bait and Switch Dark Pattern - Gewohnt platzierter "Weiter"-Knopf erstellt ungewollt Konto.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_9" class="accordion-collapse collapse" aria-labelledby="heading_dp_9" data-bs-parent="#accordion_dp_9">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Misdirection:</b> Design lenkt durch auffällige graphische Elemente vom Inhalt ab.*</p>
                                    <p><b>Hier: </b>Der prominent platzierte, grüne "Konto erstellen und weiter"-Knopf lenkt vom relevanten, unscheinbar grauen "Weiter"-Knopf ab.</p>
                                    <hr>
                                    <p><b>Bait and Switch: </b>Klick auf Schaltfläche führt zu anderem Ergebnis als üblicherweise erwartet.*</p>
                                    <p><b>Hier: </b>Die Erwartung ist, dass der grüne Knopf unten rechts normalerweise für ein Fortfahren im momentanen Prozess steht.
                                        Hier wurde jedoch noch die Funktion ein Konto zu erstellen hinzugefügt.</p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_18.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_10">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_10">
                        {% if session['dp_misdirect_spende'] == 0 or session['dp_misdirect_spende'] == None %}
                        <button class="accordion-button collapsed red_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_10" aria-expanded="true" aria-controls="collapse_dp_10">
                            Nicht gelöst: Misdirection/ Sneak into Basket /Bait and Switch Dark Pattern - Spende wird untergejubelt.
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed green_transparent_background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_10" aria-expanded="true" aria-controls="collapse_dp_10">
                            Gelöst: Misdirection/ Sneak into Basket /Bait and Switch Dark Pattern - Spende wird untergejubelt.
                        </button>
                        {% endif %}
                    </h2>
                    <div id="collapse_dp_10" class="accordion-collapse collapse" aria-labelledby="heading_dp_10" data-bs-parent="#accordion_dp_10">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Misdirection Dark Pattern:</b> Design lenkt durch auffällige graphische Elemente vom Inhalt ab.*</p>
                                    <p><b>Hier: </b>Der prominent platzierte, grüne "Zum Zahlen mit Spende"-Knopf lenkt vom relevanten, unscheinbar grauen "Zum Zahlen ohne Spende"-Knopf ab.
                                        Zusätzlich ist die Schriftgröße von "mit/ohne Spende" deutlich kleiner, damit sie eventuell übersehen werden.</p>
                                    <hr>
                                    <p><b>Bait and Switch Dark Pattern: </b>Klick auf Schaltfläche führt zu anderem Ergebnis als üblicherweise erwartet.*</p>
                                    <p><b>Sneak into Basket Dark Pattern: </b>Zusätzliches Objekt landet ungewollt im Warenkorb.*</p>
                                    <p><b>Hier: </b>Die Erwartung ist, dass der grüne Knopf unten rechts normalerweise für ein Fortfahren im momentanen Prozess steht. 
                                        Hier wurde jedoch noch die Funktion ein zu Spenden hinzugefügt.</p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_19.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion my-1" id="accordion_dp_11">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="heading_dp_11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_dp_11" aria-expanded="true" aria-controls="collapse_dp_11">
                        Scarcity Dark Pattern: Ware/Dienstleistung (angeblich) nur in knapper Zahl verfügbar.
                    </button>
                    </h2>
                    <div id="collapse_dp_11" class="accordion-collapse collapse" aria-labelledby="heading_dp_11" data-bs-parent="#accordion_dp_11">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <p><b>Scarcity Dark Pattern:</b>Ware/Dienstleistung (angeblich) nur in knapper Zahl verfügbar.*</p>
                                    <p>Es soll Druck aufgebaut werden schnell eine Entscheidung zu treffen, oft wird das auch über ein <b>Countdown Dark Pattern</b> versucht, wo Waren/Dienstleistungen (angeblich) nur für bestimmte Zeit verfügbar sind.*</p>
                                </div>
                                <div class="col">
                                    <img class="image_endscreen my-2 rounded" src="{{ url_for('static', filename='images/dark_pattern_screenshots/dark_pattern_20.jpg') }}" alt="Screenshot aus dem Spiel">
                                </div>
                            </div>              
                        </div>
                    </div>  
                </div>
            </div>
            <p>*Definition aus: Mario Martini, Christian Drews, Paul Seelinger, & Quirin Weinzierl. (2021). Dark Patterns—Phänomenologie und Antworten der Rechtsordnung. Zeitschrift für Recht und Digitalisierung, 47–74, Seite 52.</p>
            <a href="{{ url_for('home_intro') }}" class="btn btn-success w-25 mt-5 float-end">Spiel abschließen und zurück zu Übersicht</a>
        </div>
    </div>
    <!-- Kosmetisch: Seite bis unten ausfüllen -->
    <div style="height: 160px;"></div>
</div>
{% endblock %}

