<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>D.P. Escape</title>
</head>
<body>
    {% extends 'layout_level1.html' %}

    {% block content %}
        <div class="container deceptv_premium_container">
            <div id="trick_question">
                <br>
                <h1>Willst du dein Abonnement wirklich Kündigen und damit alle Vorteile velieren?</h1>
                <div class="row">
                    <div class="col">
                        <!-- "Trick Question" Dark Pattern: Formulierung des knopfes soll Spieler*innen reinlegen die Option nicht zu Kündigen zu wählen,
                            indem die vormulierung einen doppelte Verneinung enthält-->
                        <a class="btn btn-success" href="{{url_for('deceptv')}}">Ich will keine DecepTV Serien und Filme nicht mehr sehen</a>    
                    </div>
                    <div class="col">
                        <a class="btn btn-success" onclick="show__hide_div('confirmshaming'); show__hide_div('trick_question') ">Ich will DecepTV Serien und Filme nicht mehr sehen</a>
                    </div>
                </div>
            </div>
            <div id="confirmshaming">
                <h1>This is a WAAAR</h1>
            </div>
        </div>
        <script>
             document.getElementById("confirmshaming").style.display = "none";
        </script>
    {% endblock %} 
</body>
</html>