<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>D.P. Escape</title>
</head>
<body>
    {% extends 'layout_level1.html' %}

    {% block content %}
        <div class="container deceptv_premium_container">
            <div id="trick_question">
                <br>
                <h1>Willst du dein Abonnement wirklich Kündigen und damit alle Vorteile velieren?</h1>
                <div class="row">
                    <div class="col">
                        <!-- "Trick Question" Dark Pattern: Formulierung des knopfes soll Spieler*innen reinlegen die Option nicht zu Kündigen zu wählen,
                            indem die vormulierung einen doppelte Verneinung enthält-->
                        <a class="btn btn-success" href="{{url_for('deceptv')}}">Ich will keine DecepTV Serien und Filme nicht mehr sehen</a>    
                    </div>
                    <div class="col">
                        <a class="btn btn-success" onclick="show_hide_div('confirmshaming'); show_hide_div('trick_question'); progress_add('data_bar','{{session['data_score']}}');">Ich will DecepTV Serien und Filme nicht mehr sehen</a>
                    </div>
                </div>
            </div>
            <div id="confirmshaming">
                <h1 class="mt-5">Diese unglaublich kostengüsten <b>VORTEILE</b> wirst du alle <b>VERLIEREN!</b></h1>
                <div class="my-5"> <!-- my: margin top and bottom -->
                    <h2>Exklusive <b>Decep</b>TV Blockbuster</h2>
                    <div class="row px-5 py-5 rounded-2 maincolor_level1">
                        <div class="col">
                            <!-- bestimmt die größe und border-radius der bilder in base durch .carousel-item img{} bestimmt-->
                            <!-- Alt-texte optional noch hinzufügen -->
                            <img src="{{deceptv_images.pop()}}" class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}"  class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}" class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}" class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                    </div>
                </div>
                <div class="my-5"> <!-- my: margin top and bottom -->
                    <h2>Exklusive <b>Decep</b>TV Services und Anwendungen</h2>
                    <div class="row px-5 py-5 rounded maincolor_level1">
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv')}}">
                                <h3 class="atrappe rounded-2">Unbegrenztes streaming!</h3>
                            </a>
                        </div>
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv_premium')}}">
                                <h3 class="atrappe rounded-2">Exklusive <b>Decep</b>TV Inhalte!</h3>
                            </a>
                        </div>
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv_social')}}">
                                <h3 class="atrappe rounded-2">Social Watch - Mit Familie oder Freund*innen</h3>
                            </a>
                        </div>
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv_vorschlaege')}}">
                                <h3 class="atrappe rounded-2">Passende Vorschläge nur für dich</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- d-grid und gap um knöpfe untereinander darzustellen, w-50 für die breite der knöpfe -->
                <div class="d-grid gap-2 w-50 mx-auto mb-5">
                        <!--Ideen
                        Sind sie sich sicher, dass sie sich von ihrer  abmelden möcheten
                        Hier können sie sich anmelden zum abmelden Ihres Abos
                        Gehen sie nicht, hier sparen sie 5% wenn sie bleiben-->
                        <a class="btn btn-secondary " href="{{url_for('deceptv')}}"> Ich will es mir noch einmal überlegen, erinner mich 3 Tage vor Ablauf noch einmal</a> 
                    <!-- "Confirmshaming" Dark Pattern: Formulierung des knopfes soll Spieler*innen sich dumm, naiv oder herzlos dafür fühlen lassen die Option zu wählen-->
                        <a class="btn btn-secondary " href="{{url_for('level1_beenden2')}}" onclick="progress_add('data_bar', '{{session['data_score']}}');" href="#">Mir ist es egal, dass ich durch exklusive Angebote und Vorteile Geld sparen würde</a> 
                        <a class="btn btn-success " href="{{url_for('deceptv')}}">Ich will meine DecepTV Vorteile behalten und damit clever geld sparen</a>
                </div>
            </div>
        </div>
        <script>
             document.getElementById("confirmshaming").style.display = "none";
            window.onload = level_countdown('{{session['countdown']}}');
        </script>
    {% endblock %} 
</body>
</html>