
    {% extends 'layout_level1.html' %}

    {% block content %}
        <div class="container deceptv_premium_container">
            <!-- d-grid und gap um knöpfe untereinander darzustellen, w-50 für die breite der knöpfe -->
            <div id="roach_motel" class="py-5 px-5">
                <!--Ideen
                    Sind sie sich sicher, dass sie sich von ihrer  abmelden möcheten
                    Hier können sie sich anmelden zum abmelden Ihres Abos
                    Gehen sie nicht, hier sparen sie 5% wenn sie bleiben
                -->
                <h1> Um zu Kündigen, rufen sie uns einfach an</h1>
                <p> Unsere Kundenservice-nr. 123454657898765433 <br>
                    Sie erreichen uns Mo.-Fr. von 14    :00 bis 16:00 Uhr. <br>
                </p>
                <div id="uhr_container">
                    <p>Uhrzeit: <span id="uhr"></span> </p>
                </div>
                <button type="button" class="btn btn-success" onclick="starte_uhr();" href="#">Schau auf die Uhr</button>
                <!-- "Roach Motel" Dark Pattern: Kündigung quälend scwer machen, indem nur zu bestimmten zeiten telefonisich gekündigt werden kann-->
                <a id="beenden_knopf" class="btn btn-primary " href="{{url_for('ende_lv1')}}"
                    onclick=" show_hide_div('roach_motel'); show_hide_div('ende_lv1');">
                    <p>Anrufen</p>
                </a> 
            </div>
            <div id="ende_lv1" class="py-5 px-5">
                <h1>Du hast es geschafft, DecepTV hat dich als würdig empfunden, dein Abo kekündigt zu bekommen!</h1>
                <div class="d-flex">
                    <a href="{{url_for('home_intro')}}" class="btn btn-success">Zurück zur Levelübersicht</a>
                </div>
            </div>
        </div>
        <script>
        // Element verstecken. "Roach Motel" Dark Pattern: Option ist gut versteckt muss von Spieler*innen gefunden werden
        document.getElementById("uhr_container").style.display = "none";
        document.getElementById("ende_lv1").style.display = "none";
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
        </script>  
    {% endblock %} 

