
    {% extends 'layout_level1.html' %}

    {% block content %}
        <div  class="container deceptv_premium_container">
            <div id="trick_question">
                <h1 class="my-5">Willst du dein Abonnement wirklich Kündigen und damit Zugriff auf alle unsere Filme und Serien velieren?</h1>
                <div class="row">
                    <div class="col">
                        <!-- "Trick Question" Dark Pattern: Formulierung des knopfes soll Spieler*innen
                            reinlegen die Option nicht zu Kündigen zu wählen, indem die vormulierung
                             einen doppelte Verneinung enthält-->
                        <a class="btn btn-success w-100" onclick="url_delay_set_session('{{ session['dp_trickquestion1'] }}', '/deceptv/', { 'dp_trickquestion1': 0 });">
                            Ich verzichte darauf DecepTV Serien und Filme nicht mehr zu sehen
                        </a>    
                    </div>
                    <div class="col">
                        <a class="btn btn-danger w-100" 
                            onclick="show_hide_div('confirmshaming'); 
                                    show_hide_div('trick_question'); 
                                    set_wenn_nicht_geloest('{{ session['dp_trickquestion1'] }}',{'dp_score': 5 , 'dp_trickquestion1': 1});
                                    progress_add('dp_score_bar','dp_score_text', 5); "
                            >Ich will ganz sicher keine DecepTV Serien und Filme mehr sehen
                        </a>
                    </div>
                </div>
            </div>
            <div id="confirmshaming">
                <h1 class="mt-5">Diese unglaublich kostengüsten <b>VORTEILE</b> wirst du alle <b>VERLIEREN!</b></h1>
                <div class="my-5">
                    <h2>Exklusive <b>Decep</b>TV Blockbuster</h2>
                    <div class="row px-5 py-5 rounded-2 maincolor_level1">
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}" class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}"  class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}" class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                        <div class="col">
                            <img src="{{deceptv_images.pop()}}" class="d-block w-100 rounded-2 atrappe" alt="...">
                        </div>
                    </div>
                </div>
                <div class="my-5"> <!-- my: margin top and bottom -->
                    <h2>Exklusive <b>Decep</b>TV Services und Anwendungen</h2>
                    <div class="row px-5 py-5 rounded maincolor_level1">
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv')}}">
                                <h3 class="atrappe rounded-2">Unbegrenztes streaming!</h3>
                            </a>
                        </div>
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv_premium')}}">
                                <h3 class="atrappe rounded-2">Exklusive <b>Decep</b>TV Inhalte!</h3>
                            </a>
                        </div>
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv_social')}}">
                                <h3 class="atrappe rounded-2">Social Watch - Mit Familie oder Freund*innen</h3>
                            </a>
                        </div>
                        <div class="col">
                            <a class="maincolor_level1" href="{{url_for('deceptv_vorschlaege')}}">
                                <h3 class="atrappe rounded-2">Passende Vorschläge nur für dich</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <h1 class="mt-5 mb-4">Wenn du bleibst bekommst du 5% Rabatt auf dein Abo für die enäcshten 3 Monate</b></h1>
                <!-- d-grid und gap um knöpfe untereinander darzustellen, w-50 für die breite der knöpfe -->
                <div class="d-grid gap-2 w-50 mx-auto mb-5">
                        <!--Ideen
                        Sind sie sich sicher, dass sie sich von ihrer  abmelden möcheten
                        Hier können sie sich anmelden zum abmelden Ihres Abos
                        Gehen sie nicht, hier sparen sie 5% wenn sie bleiben-->
                        <a class="btn btn-secondary " onclick="url_delay_set_session('{{ session['dp_shaming_lv1'] }}', '/deceptv/', { 'dp_shaming_lv1': 0 });">
                             Ich will es mir noch einmal überlegen, erinner mich 3 Tage vor Ablauf noch einmal
                        </a> 
                    <!-- "Confirmshaming" Dark Pattern: Formulierung des knopfes soll Spieler*innen sich dumm,
                         naiv oder herzlos dafür fühlen lassen die Option zu wählen.
                        Wenn die Flasche OPtion gewählt wird, auf Startseite schicken und Dark Pattern als falsch gelöst markieren-->
                         <div class="btn btn-secondary" onclick="
                                url_delay_set_session('{{ session['dp_shaming_lv1'] }}', '/deceptv/premium/mitgliedschaft-beenden', {'dp_score': 5,'dp_shaming_lv1': 1 });
                                progress_add('dp_score_bar','dp_score_text', 5); ">
                            Ich stinke eh nach Geld, mir egal dass ich 5% sparen würde
                        </div>
                        <a class="btn btn-success " onclick="url_delay_set_session('{{ session['dp_shaming_lv1'] }}', '/deceptv/', { 'dp_shaming_lv1': 0 });">
                            Natürlich will ich das 5% sparen, ich bin doch nicht blöd.
                        </a>
                </div>
            </div>
        </div>
        <script>
             document.getElementById("confirmshaming").style.display = "none";
             window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
        </script>
    {% endblock %} 
