
    {% extends 'layout_level1.html' %}

    {% block content %}
        <div class="container deceptv_premium_container">
            <div id="ende_lv1" class="py-5 px-5">
                <h1>Du hast es geschafft, DecepTV hat dich als würdig empfunden, dein Abo kekündigt zu bekommen!</h1>
                <div class="d-flex">
                    <a href="{{url_for('home_intro')}}" class="btn btn-success">Zurück zur Levelübersicht</a>
                </div>
            </div>
        </div>
    {% endblock %} 

