   /*-----------------------------------------------------------------------------------------------------------------------  */
    /* CSS für alle Seiten */
    #noscript{
        min-height: 100vh;
    }
    body{
        text-align: justify;
        background-color: rgb(221, 221, 221);
    }
    .content{
        min-height: 90vh; /* Damit der footer unabhängig von der Kontentgröße unten bleibt */
    }
    .nav_landing{
        text-shadow: 1px 1px 1px rgb(0, 110, 255)
    }
    .nav_item_landing{
        color: white;
    }
    .navbar a:hover{
        box-shadow: 0 0 5px rgb(255, 0, 0);
        border-radius: 5px;
    }
    .navbar-brand{
        padding: 5px 10px;
    }
    .fussleiste{
        position: sticky;
        bottom: 0;
        padding-top: 30px;
        /* height: 70px; */
    }
    .fussleiste_brand{
        float: left;
        margin: 0px 20px 30px 20px;
        color: white;
        text-shadow: 1px 1px 1px rgb(0, 110, 255);
        text-decoration: none;
    }
    .fussleiste a{
        box-shadow: 0 0 5px rgb(255, 0, 0);
        border-radius: 5px;
    }
    .mainbackground{
        background-color: black;
    }
    .maincolor{
        color: white;
    }
    /*-----------------------------------------------------------------------------------------------------------------------  */
    /* CSS für die Landingpage */
    #logo1{
        text-shadow: 0px 0px 3px rgb(255, 0, 0);
        font-size: 40px;
    }
    #logo2{
        font-weight: 300;
        font-size: 30px;
        text-align: right;
        line-height: 0px;
        text-shadow: 0px 0px 3px rgb(255, 0, 0)
    }
    .bild-intro{
        max-height: 350px;
        box-shadow: 3px 3px 5px black;
    }
    /*-----------------------------------------------------------------------------------------------------------------------  */
    /* CSS für Level 1: Streamingdienst kündigen */
    /* Navigationsleiste */
    .maincolor_level1{
        background-color:rgb(32, 39, 53);
        color: white;
    }
    .nav_item_level1{
        color: white;
    }
    .nav_item_level1 a:hover{
        box-shadow: 0 0 5px rgb(0, 174, 255);
        border-radius: 5px;
    }
    .account_menu{
        margin: 0px 5px;
        padding-left: 0px;
    }
    /* Styles füf das Offcanvas Menü und dessen Knopf*/
    .offcanvas-body{
        background-color:rgb(32, 39, 53);
    }
    .account_menu_options{
        line-height: 50px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .account_menu_options a{
        text-decoration: none;
        color: white;
    }
    .account_menu_options a:hover{
        text-decoration: none;
        text-shadow: 0 0 2px rgb(0, 174, 255);;
    }
    /* Kontent für Streaming-startseite */
    .content_level1{
        /*  alternatives Farbschema */
/*         background-color: rgb(32, 39, 53);
        color: white;
        text-shadow: 0px 0px 50px black;   */
        padding: 0px 20px;
    }
    .carousel-item img{
        border-radius: 5px;
        margin: 5px 0px;
    }
    .carousel-item img:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px black;
    }
    .carousel-control-prev{ /* position und Größe der Crrouselbuttons anpassen. Wichtig um zu verhindern, dass sie den Hauptmenü-Button in der Fußleiste überdecken */
        width: min-content;
        margin-left: 10px;
    }
    .carousel-control-next{
        width: min-content;
        margin-right: 10px;
    }
    /* Kontent für Deceptv_premium, _Angebote, _Shop, _Service, _Social */
    #vorteile_banner{
        font-size:xx-large;
        height: 30vh;
    }
    #vorteile{
        margin: 20px 0px;
    }
    .deceptv_premium_container{
        text-align: center ;
    }
    .dropdown-item{
        font-weight: bolder;
    }