
{% extends 'main_css.html' %}

    <div class="content">
    {% block body %}
        <noscript>
            <div class="container" id="noscript">
                <h1>  Aktivieren Sie JavaScript, um und diese Seite voll nutzen zu können.</h1>
            </div>
        </noscript>
        
        <div class="navigation">
            {% block navigation %}
            
            {% endblock %}
        </div>

        <div class="content">
            {% block content %} 
            
            {% endblock %}
        </div>

        <!-- Fußzeile mit den Werten der jeweiligen Session -->
        <div class="fussleiste mainbackground maincolor" >
            {% if session['cookie_lv1_show'] == True %}
            <!-- Cookiebanner: werden angezeigt, wenn session['cookie_lv1_show'] == True. 
                session['cookie_lv1/2_show'] wird beim ersten aufrufen der Homepade des jeweiligen Levels
                auf true gesetzt, wenn session['cookie_lv_1/2_fertig] true ist -->
            <div id="cookie_fussleiste_lv1" class="maincolor_level1 pt-0">
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <p>Auf dieser Seite benutzen wir Cookies um unsere Dienste zu verbessern
                            und eine gute Performance zu liefern. Datenshutz liegt uns hier bei
                            <b>Decep</b>tv am Herzen, darum kannst sie 
                            <!-- Misdirection DarkPattern: Button um zum Cookiemanager zu kommen ist kein Knopf, 
                                sondern nur ein unterstrichener Text ohne pointer beim derüber Hovern. 
                                Währenddessen sind zwei andere KNöpfe in der Fußleiste prominent dargestellt um abzulenken-->
                            <span  class="text-decoration-underline" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#cookie_manager_lv1"
                                    onclick="
                                    // Backend update
                                    set_session_value({'dp_score': {{session['dp_score']+4 }} })
                                    // Frontend update
                                    progress_add('dp_score_bar',{{session['dp_score']}}, 4); 
                                    show_hide_div('cookie_fussleiste_lv1');">
                                hier
                            </span>
                            managen. <br> Du kannst deine Cookie-Einstellungen jeder zeit im 
                            <b>Datenschutzmanager</b> neu anpassen.
                        </p>
                    </div>
                    <div class="p-2">
                        <!-- Beide Knöpfe machen das selbe
                            Trick-Question Dark Pattern: "Ablehnen zu widersprecehn ist das selbe wie Akzeptieren"-->
                        <div class="btn btn-outline-primary pb-3" 
                            onclick="// Backend update
                                    set_session_value({'cookie_lv1_fertig': 1,'cookie_lv1_show': 0, 'data_score':  {{ session['data_score']-40 }}});
                                    //frontend update
                                    progress_add('data_bar',{{session['data_score']}}, -40); 
                                    //hide cookiebanner
                                    show_hide_div('cookie_fussleiste_lv1');">
                            Ablehnen <br>
                            <span class="small_text misdirection_text">zu wiedersprechen</span> 
                        </div>
                        <div class="btn btn-primary pb-0"
                            onclick="// Backend update
                                    set_session_value({'cookie_lv1_fertig': 1,'cookie_lv1_show': 0, 'data_score':  {{ session['data_score']-40 }}});
                                    //frontend update
                                    progress_add('data_bar',{{session['data_score']}}, -40);
                                    //hide cookiebanner
                                    show_hide_div('cookie_fussleiste_lv1');">
                            <p>Alle <br> Akzeptieren</p>
                        </div>
                    </div>
                </div>
             </div>
            {% elif session['cookie_lv2_show'] == True %}
            <div id="'cookie_fussleiste_lv1'" class="maincolor_level1 pt-0">
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <p>Auf dieser Seite benutzen wir Cookies um unsere Dienste zu verbessern
                             und eine gute Performance zu liefern. Datenshutz liegt uns hier bei
                             <b>Decep</b>tv am Herzen, darum kannst sie 
                             <span 
                                class="text-decoration-underline" 
                                onclick="
                                        // Backend update
                                        set_session_value({'dp_score': {{ session['dp_score']+4 }}});
                                        //frontend update
                                        progress_add('dp_score_bar',{{session['dp_score']}}, 4); 
                                        show_hide_div('cookie_fussleiste_lv1');
                                        show_hide_div('cookie_manager_lv1')">
                                hier</span>
                             managen. <br>
                             Du kannst deine Cookie-Einstellungen jeder zeit im Datenschutzmanager neu anpassen.
                        </p>
                    </div>
                    <div class="p-2">
                        <!-- Beide Knöpfe machen das selbe-->
                        <div class="btn btn-outline-primary" 
                             onclick="  // Backend update
                                        set_session_value({'cookie_lv2_fertig': 1,'cookie_lv2_show': 0, 'data_score':  {{ session['data_score']-40 }}});
                                        //frontend update
                                        progress_add('data_bar', {{ session['data_score'] }}, -40);
                                        show_hide_div('cookie_fussleiste_lv1');">
                             Ablehnen <br>
                             <span class="small_text">zu wiedersprechen</span> 
                        </div>
                        <div class="btn btn-primary" style="height: auto;"
                             onclick="  // Backend update
                                        set_session_value({'cookie_lv2_fertig': 1,'cookie_lv2_show': 0, 'data_score':  {{ session['data_score']-40 }}});
                                        //frontend update
                                        progress_add('data_bar', {{ session['data_score'] }}, -40);
                                        show_hide_div('cookie_fußleiste');">
                             Akzeptieren
                             <p></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row text-center pt-3">
                <div class="col-1">
                    <a href="{{url_for('initialize_session')}}" class="btn btn-warning" onclick="window.location.reload();">Reset</a>
                </div>
                <div class="col">
                    <!-- Link zur "Home" Seite um das spiel zu unterbrechen oder Anleitungen noch einmal durch zu gehen -->
                    <!-- Flex element, da es zusammen mit der Zeit-Bar in die col untergebracht werden muss -->
                    <a class="btn btn-outline-danger fussleiste_brand" href="{{url_for('home_intro')}}">
                        <b>Hauptmenü</b>
                    </a>
                    <!-- Größe der Bar wird an den "Hauptmenü" Button angepasst -->
                    <div id="container_zeit_bar" class="d-2 progress position-relative" style="height: 36px;">
                        <h3 id="zeit_anzeige" class="position-absolute text-dark">{{session['countdown']}}s</h3>
                        <div id="zeit_bar" class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{session['countdown']/3}}%" 
                            aria-valuenow="{{session['countdown']}}" aria-valuemin="0" aria-valuemax="300">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="progress position-relative">
                        <p class="position-absolute start-50 text-dark fw-bolder">{{session['data_score']}}</p>
                        <div id="data_bar" class="progress-bar bg-info" role="progressbar" style="width: {{session['data_score']}}%" 
                            aria-valuenow="{{session['data_score']}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Daten</h3>
                </div>
                <div class="col">
                    <div class="progress position-relative">
                        <p class="position-absolute start-50 text-dark fw-bolder">{{session['geld_score']}}</p>
                        <div id="geld_bar" class="progress-bar bg-warning" role="progressbar" style="width: {{ session['geld_score' ]}}%" 
                            aria-valuenow="{{ session['geld_score' ]}}%" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Geld</h3>
                </div>
                <div class="col me-3"><!-- padding-right:2 da durch überlänge die seite nach recht verlängert würde -->
                    <div class="progress position-relative">
                        <p class="position-absolute start-50 text-dark fw-bolder">{{session['dp_score']}}</p>
                        <div id="dp_score_bar" class="progress-bar bg-success" role="progressbar" style="width: {{ session['dp_score'] }}%" 
                            aria-valuenow="{{ session['dp_score'] }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Dark Pattern Score</h3>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
    