
{% extends 'main_css.html' %}

    <div class="content">
    {% block body %}
        <noscript>
            <div class="container" id="noscript">
                <h1>  Aktivieren Sie JavaScript, um und diese Seite voll nutzen zu können.</h1>
            </div>
        </noscript>
        
        <div class="navigation">
            {% block navigation %}
            
            {% endblock %}
        </div>

        <div class="content">
            {% block content %} 
            
            {% endblock %}
        </div>

        <!-- Fußzeile mit den Werten der jeweiligen Session -->
        <div class="fussleiste mainbackground maincolor" >
            <div class="row text-center pt-3">
                <div class="col-1">
                    <a href="{{url_for('initialize_session')}}" class="btn btn-warning">Reset</a>
                    <a href="{{url_for('decepdive')}}" class="btn btn-danger" onclick="set_session_value({'level_fortschritt': 1});">Zu Lv.2</a>
                </div>
                <div class="col">
                    <!-- Link zur "Home" Seite um das spiel zu unterbrechen oder Anleitungen noch einmal durch zu gehen -->
                    <!-- Flex element, da es zusammen mit der Zeit-Bar in die col untergebracht werden muss -->
                    <a class="btn btn-outline-danger fussleiste_brand" href="{{url_for('home_intro')}}">
                        <b>Hauptmenü</b>
                    </a>
                    <!-- Größe der Bar wird an den "Hauptmenü" Button angepasst -->
                    <div id="container_zeit_bar" class="d-2 progress position-relative" style="height: 36px;">
                        <h3 id="zeit_anzeige" class="position-absolute text-dark">{{session['countdown']}}s</h3>
                        <div id="zeit_bar" class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{session['countdown']/3}}%" 
                            aria-valuenow="{{session['countdown']}}" aria-valuemin="0" aria-valuemax="300">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="progress position-relative">
                        <p id="data_text" class="position-absolute start-50 text-dark fw-bolder">{{session['data_score']}}</p>
                        <div id="data_bar" class="progress-bar bg-info" role="progressbar" style="width: {{session['data_score']}}%" 
                            aria-valuenow="{{session['data_score']}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Daten</h3>
                </div>
                <div class="col">
                    <div class="progress position-relative">
                        <p id="geld_text" class="position-absolute start-50 text-dark fw-bolder">{{session['geld_score']}}</p>
                        <div id="geld_bar" class="progress-bar bg-warning" role="progressbar" style="width: {{ session['geld_score' ]}}%" 
                            aria-valuenow="{{ session['geld_score' ]}}%" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Geld</h3>
                </div>
                <div class="col me-3"><!-- padding-right:2 da durch überlänge die seite nach recht verlängert würde -->
                    <div class="progress position-relative">
                        <p id="dp_score_text" class="position-absolute start-50 text-dark fw-bolder">{{session['dp_score']}}</p>
                        <div id="dp_score_bar" class="progress-bar bg-success" role="progressbar" style="width: {{ session['dp_score'] }}%" 
                            aria-valuenow="{{ session['dp_score'] }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Dark Pattern Score</h3>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
    