<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <link rel="stylesheet" type="css" href="{{url_for('static', filename='styles.css')}}">
    <title>{% block title %}Dark Pattern Escape {% endblock %} </title>
</head>
<body>
    {% extends 'main_css.html' %}

    <div class="content">
    {% block body %}
        <noscript>
            <div class="container" id="noscript">
                <h1>  Aktivieren Sie JavaScript, um und diese Seite voll nutzen zu können.</h1>
            </div>
        </noscript>
        
        <div class="navigation">
            {% block navigation %}
            
            {% endblock %}
        </div>

        <div class="content">
            {% block content %} 
            
            {% endblock %}
        </div>

        <!-- Fußzeile mit den Werten der jeweiligen Session -->
        <div class="fussleiste mainbackground maincolor" >
            {% if session['cookie_lv1_show'] == True %}
            <div class="maincolor_level1 pt-0">
                <div class="d-flex">
                    <div class="p-2">

                    </div>
                    <div class="p-2 justify-content-end">
                        <div class="btn btn-primary" onclick="set_session_value('cookie_lv1_show', 0)">accept</div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row text-center pt-3">
                <div class="col-1">
                    <a href="{{url_for('initialise_session')}}" class="btn btn-warning">Reset</a>
                </div>
                <div class="col">
                    <!-- Link zur "Home" Seite um das spiel zu unterbrechen oder Anleitungen noch einmal durch zu gehen -->
                    <!-- Flex element, da es zusammen mit der Zeit-Bar in die col untergebracht werden muss -->
                    <a class="btn btn-outline-danger fussleiste_brand" href="{{url_for('home_intro')}}">
                        <b>Hauptmenü</b>
                    </a>
                    <!-- Größe der Bar wird an den "Hauptmenü" Button angepasst -->
                    <div id="container_zeit_bar" class="d-2 progress position-relative" style="height: 36px;">
                        <h3 id="zeit_anzeige" class="text-dark position-absolute">Zeit</h3>
                        <div id="zeit_bar" class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{session['countdown']}}%" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="progress">
                        <div id="data_bar" class="progress-bar bg-info" role="progressbar" style="width: {{session['data_score']}}%" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Daten</h3>
                </div>
                <div class="col">
                    <div class="progress">
                        <div id="geld_bar" class="progress-bar bg-warning" role="progressbar" style="width: {{ session['geld_score' ]}}%" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>Geld</h3>
                </div>
                <div class="col me-3"><!-- padding-right:2 da durch überlänge die seite nach recht verlängert würde -->
                    <div class="progress">
                        <div id="dp_score_bar" class="progress-bar bg-success" role="progressbar" style="width: {{ session['dp_score'] }}%" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h3>DP-Score</h3>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
</body>
</html>