<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #logo1{
            text-shadow: 1px 1px 2px purple;
            font-size: 40px;
        }
        #logo2{
            font-weight: 300;
            font-size: 30px;
            text-align: right;
            line-height: 0px;
            text-shadow: 1px 1px 2px rgb(252, 68, 77)
        }
        .bild-intro{
            max-height: 400px;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div id="body" class="container">
        <b id="logo1">Dark Pattern</b><br><span id="logo2">Escape Room</span>
        <div id="beschreibung">
            <p> Dark Pattern ist ein Begriff, der manipulatives Oberflächendesign auf Websites, Apps oder Spielen beschreibt.
                Diese Dark Patterns manipulieren oder täuschen Nutzer*innen gezielt so, dass sie Dinge tun, die sie slebst nicht so vorhatten,
                zum Beispiel ungewollt Cookies aktzeptieren, Newsletter abbonieren oder mehr Geld auszugeben als eigentlich geplant. <br>
                Das <b>Dark Pattern Escape Room</b> Spiel ist ein Brwoserspiel, bei dem der Spieler*innen die Problemlage und bestimmte Mechanismen hinter Dark Patterns bewusst gemacht werden soll. <br>
            </p>
            <h5>Schaffst du es nicht manipuliert zu werden und de Dark Patterns zu entkommen?</h4>
            <button type="button" class="btn btn-primary" id="btn_intro_toggle" data-bs-target="#beschreibung #intro"> Ja klar, los gehts</button>
        </div>
        <hr>
        <div class="container" id="intro">
            <div class="row" id="intro">
                <div class="col">
                    <p>
                        Dein Urlaub steht bevor, das wird Toll!
                        Du träumst schon vom Strand, der Sonne und dem Geräusch der Wellen. <br>
                        Bevor es losgeht, musst du allerdings noch ein paar Dinge im Internet erledigen: <br>
                    </p>
                <ul>
                    <li> Du musst dein Streaming-Abo beenden, da du es während des Urlaubs nicht brauchst und es zu teuer ist es weiter laufen zu lassen</li>
                    <li> Zusätzlich ist dir aufgefallen, dass für den Urlaub noch Sonnencreme gebraucht wird, die du Online einkaufen willst</li>
                </ul>
                </div>
                <div class="col">
                    <img class="img-fluid rounded bild-intro" src="{{url_for('static', filename='hammock_CC0.jpg')}}" alt="Strand am Meer, mit leichten Wellen und blauem Himmel">
                </div>
            </div>
            <hr>
            <div id="anleitung" class="container">
                <div class="row">
                    <div id="todo" class="col">
                        <h3>Deine Aufgabe</h3>
                        <img class="img-fluid rounded" src="{{url_for('static', filename='Clipboard.png')}}" alt="Clipboard mit den zu erledigenden Aufgaben">
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
         $(document).ready(function(){
            $('#intro').hide();
            $('#btn_intro_toggle').click(function () {
                $('#beschreibung').hide('slow', function(){
                    $('#into').fadeIn('slow')
                });;
            })
        });
    </script>
    {% endblock %}
</body>
</html>