{% extends 'base.html' %}

<div class="navigation"> 
{% block navigation %}
    <!-- Flex container, since offcanvas for the user menu does not werk inside navbar -->
    <div class="d-flex maincolor_level1">
        <!-- ERstes Flex element soll die gesamte fläche außer den benutzer-button einnehmen daher w-100 -->
        <nav class="navbar navbar-expand-md sticky-top navbar p-2 w-100" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand nav_item_level1" href="{{ url_for('deceptv')}}">
                    <span id="logo" class="maincolor"><b>Decep</b>TV</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav white">
                        <li class="nav-item">
                            <a class="nav-link nav_item_level1" href="{{url_for('deceptv_premium')}}">Premium</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav_item_level1" href="#">Filme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_level1" href="#">Serien</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav_item_level1" href="#">Genre</a>
                        </li>
                    </ul>
                    <!-- Suchleiste -->
                    <form class="d-flex ms-auto p-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- align-self-center: button zentrieren| ms-auto: auf dei rechte seite schieben |p-2: flex element -->
        <div class="p-2 ms-auto align-self-center account_menu">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menü</button>
                <div class="offcanvas offcanvas-end offcanvas_level1" data-bs-backdrop="false" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-theme="dark">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">DecepTV Menü</h5>
                        <button type="button" class="btn btn-outline-primary lightblue_box_shadow" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                    </div>
                    <div class="offcanvas-body ">
                        <ul class="account_menu_options">
                            <li>
                                <a href="{{url_for('deceptv_account')}}">Dein Account</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_favoriten')}}">Deine Favoriten</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_vorschlaege')}}">Unsere Vorschläge für dich</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_social')}}">ProcrasTV Social</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_angebote')}}">PracrasTV Angebote</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_shop')}}">ProcrasTV Shop</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_datenschutzrichtlinie')}}">Datenschutzrichtlinie</a>
                            </li>
                            <li>
                                <a href="#">Demnächst bei uns</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_erkunden')}}">Erkunden</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_datenschutzmanager')}}">Datenschutz-Manager</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_premium')}}">ProcrasTV Premium</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_service')}}">Hilfezentrum</a>
                            </li>
                            <li>
                                <a href="{{url_for('deceptv_feedback')}}">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>

<div class="content">
    {% block content %} 
    
    {% endblock %}
</div>

<div class="cookieleiste">
    {% block cookieleiste %} 
        <!-- Cookie Dialog Popup -->
        {% if session['cookie_lv1_show'] == True %}
        <!-- Cookiebanner: werden angezeigt, wenn session['cookie_lv1_show'] == True. als True definiert -->
        <div id="cookie_fussleiste_lv1" class="maincolor_level1">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <p> Auf dieser Seite benutzen wir Cookies um unsere Dienste zu verbessern
                        und eine gute Performance zu liefern. Datenschutz liegt uns hier bei
                        <b>Decep</b>tv am Herzen, darum kannst deine Cookies 
                        <!-- Misdirection DarkPattern: Button um zum Cookiemanager zu kommen ist kein Knopf, 
                            sondern nur ein unterstrichener Text ohne pointer beim derüber Hovern. 
                            Währenddessen sind zwei andere KNöpfe in der Fußleiste prominent dargestellt um abzulenken-->
                        <span  class="text-decoration-underline" 
                                data-bs-toggle="modal" 
                                data-bs-target="#cookie_manager_lv1"
                                onclick="
                                /*  Backend update */
                                set_wenn_nicht_geloest('{{session['dp_open_cookiemanager_lv1']}}', {'dp_score': 5, 'dp_open_cookiemanager_lv1': 1 })
                                /*  Frontend update */
                                progress_add('dp_score_bar','dp_score_text', 5); 
                                show_hide_div('cookie_fussleiste_lv1');">
                            hier
                        </span>
                        managen. <br> Du kannst deine Cookie-Einstellungen jeder Zeit im 
                        <b>Datenschutzmanager</b> neu anpassen.
                    </p>
                </div>
                <div class="p-2">
                    <!-- Beide Knöpfe machen das selbe
                        Trick-Question Dark Pattern: "Ablehnen zu widersprecehn ist das selbe wie Akzeptieren"-->
                    <div class="btn btn-outline-primary" 
                        onclick="// Backend update
                                set_session_value({'cookie_lv1_show': 0, 'cookie_lv1_fertig': 1, 'data_score': -40, 'dp_open_cookiemanager_lv1': 0 });
                                //frontend update
                                progress_add('data_bar','data_text', -40); 
                                //hide cookiebanner
                                show_hide_div('cookie_fussleiste_lv1');">
                        <p>Empfohlene <br> Auswahl</p>
                    </div>
                    <div class="btn btn-primary me-3"
                        onclick="// Backend update
                                set_session_value({'cookie_lv1_show': 0, 'cookie_lv1_fertig': 1, 'data_score': -40, 'dp_open_cookiemanager_lv1': 0 });
                                //frontend update
                                progress_add('data_bar','data_text', -40);
                                //hide cookiebanner
                                show_hide_div('cookie_fussleiste_lv1');">
                        <p>Alle <br> Akzeptieren</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}           
    {% endblock %}
</div>

<div class="cookiemodal">
    {% block cookiemodal %} 
    <!-- Modal (Bootstrap static modal von: https://getbootstrap.com/docs/5.3/components/modal) -->
    <div class="modal fade" id="cookie_manager_lv1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cookie Manager</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                            onclick="set_wenn_nicht_geloest('{{ session['cookie_lv1_fertig'] }}',{'data_score': -30 , 'cookie_lv1_fertig': 1});
                                    progress_add('data_bar','data_text', -30); ">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('cookie_form_lv1')}}" method="post">
                        <p>Auf dieser Seite benutzen wir Cookies um unsere Dienste zu verbessern
                        und eine gute Performance zu liefern. Datenschutz liegt uns hier bei
                        <b>Decep</b>tv am Herzen, darum kannst deine Cookies hier managen. Du kannst deine
                        Cookie-Einstellungen jeder zeit im <b>Datenschutzmanager</b> neu anpassen.</p>
                        <hr>
                        <!-- Überschrift -->
                        <div class="d-flex">
                            <div class="p-2">
                                <h4>Funktion</h4>
                            </div>
                            <!-- Dark Pattern: Trick Question? nach zusage zu absage Fragen, statt einfach "An/Aus" anzugeben -->
                            <!-- Dark Patter Misdirection: Farbe lenkt von Inhalt ab: 
                                Die falsche Antwort "Ablehnen: Nein" ist nicht farbig und 
                                die richtige Antwort "Ablehnen: Ja" ist gegen die Erwartung bei einer Absage farbig-->
                            <!-- Dark Pattern: Opt-out -->
                            <div class="p-2 ms-auto">
                                <h5>Ablehnen</h5>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="d-flex">
                            <label class="flex-grow-1 px-0 py-0 form-check-label" for="CookieStandort">Standortdaten verwenden</label>
                            <div>
                                <small>Nein</small>
                                <div class="form-check form-switch d-inline-block">
                                    <input class="form-check-input" type="checkbox" name="CookieStandort">
                                    <small>Ja</small>
                                </div>   
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="d-flex">
                            <label class="flex-grow-1 form-check-label" for="CookieIdent">Geräteeigeschaften zu identifikation abfragen</label>
                            <div>
                                <small>Nein</small>
                                <div class="form-check form-switch d-inline-block">
                                    <input class="form-check-input" type="checkbox" name="CookieIdent">  
                                    <small>Ja</small>
                                </div> 
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="d-flex">
                            <label class="flex-grow-1 form-check-label" for="CookieDeviceSaves">Informationen auf dem Gerät speichern und abrufen</label>
                            <div>
                                <small>Ja</small>
                                <div class="form-check form-switch d-inline-block">
                                    <input class="form-check-input switch_rotate" type="checkbox" name="CookieDeviceSaves">
                                    <small>Nein</small> 
                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="d-flex">
                            <label class="flex-grow-1 form-check-label" for="CookiePersonalisierung">Personalisierte Anzeigen und Inhalte zeigen</label>
                            <div>
                                <small>Nein</small>
                                <div class="form-check form-switch d-inline-block">
                                    <input class="form-check-input" type="checkbox" name="CookiePersonalisierung">
                                    <small>Ja</small> 
                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="d-flex">
                            <label class="flex-grow-1 form-check-label" for="CookieTargeting">Zielgruppen messen und Produkte verbessern</label>
                            <div>
                                <small>Nein</small>
                                <div class="form-check form-switch d-inline-block">
                                    <input class="form-check-input" type="checkbox" name="CookieTargeting">        
                                    <small>Ja</small> 
                                </div>       
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="d-flex">
                            <p class="flex-grow-1 py-0 mb-0">Funktionale Cookies</p>
                            <p class="mb-0">Immer aktiv</p>
                        </div>
                        <hr class="my-0">
                        <small class="cursor_pointer py-0 text-decoration-underline" onclick="show_hide_div('berechtigtes_interesse');progress_add('dp_score_bar','dp_score_text', 5);">
                            Berechtigtes Interesse
                        </small> 
                        <br>
                        <div id="berechtigtes_interesse">
                            <h5>Berechtigtes Interesse</h5>
                            <hr class="my-0">
                            <div class="d-flex">
                                <label class="flex-grow-1 form-check-label" for="cookie_berechtigt1">Informationen auf einem Gerät speichern/abfragen</label>
                                <div>
                                    <small>Off</small>
                                    <div class="form-check form-switch d-inline-block">
                                        <input class="form-check-input" type="checkbox" name="cookie_berechtigt1"  checked>
                                        <small>On</small> 
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <label class="flex-grow-1 form-check-label" for="cookie_berechtigt2">Zielgruppen messen und Produkte verbessern</label>
                                <div class="float-end">
                                    <small>Off</small>
                                    <div class="form-check form-switch d-inline-block">
                                        <input class="form-check-input" type="checkbox" name="cookie_berechtigt2" checked>        
                                        <small>On</small>                      
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0">
                        </div>
                        <!-- Misdirection/Trickquestion Dark Pattern: Button zum submit der Checkboxe sieht 
                        nicht aus wie Button sonder wie Text, der auf den Button neben dran hinweist  -->
                        <div class="float-end">
                            <input type="submit" value="Auswahl bestätigen: " class="unscheinbarer_button me-2" data-bs-dismiss="modal">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                    onclick="set_session_value({'cookie_lv1_fertig': 1,'cookie_lv1_show': 0,'dp_cookiemisdirection_lv1': 0, 'data_score':  -30 });progress_add('data_bar','data_text', -30); ">
                                    Akzeptieren
                            </button>
                        </div>
                    </form>     
                </div>            
            </div>
        </div>
    </div>
    <!-- Nicht sichtbarer Button: triggert 'nagging_modal' -->
    <button type="button" id="nagging_modal_trigger" class="visually-hidden" data-bs-toggle="modal" data-bs-target="#nagging_modal">trigger</button>
    <!-- Modal -->
    <div class="modal fade" id="nagging_modal" tabindex="0" aria-labelledby="nagging_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content maincolor_level1" id="nagging_modal_content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nagging_modalLabel">Du magst jederzeit, überall Streams ansehen? Hol die jetzt die <b>Decep</b>TV APP!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <img class="rounded level1_hover mx-5" src="{{ url_for('static', filename='images/deceptv/Cloaki_soaki.jpg') }}" alt="Ein Blauer Blob mit ausgestreckter Zunge in einem Gulli, ein Ausschnitt einer Beins ist zu sehen">
                    <ul>
                        <li>
                            Cloaki Soaky und viele weitere Titel unterwegs ansehen
                        </li>
                        <li>
                            Über neue Folgen deiner Lieblingstitel informiert werden
                        </li>
                        <li>
                            Günstige Angebote zu <b>Decep</b>TV HD und Platin bekommen
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" onclick="set_session_value({'show_nagging': 0, 'dp_nagging_level1': 0})">
                        <b>Decep</b>TV App herunterladen
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Nein Danke</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        /* 5 Sekunden nach dem aufrufen jeglicher URL's in Level 1 wird der Nagging Dialog geöffnet,
         bis auf "App installieren" geklickt wird (resultiert in Punktverlust) */
        console.log('{{session['show_nagging']}}');
        if( '{{session['show_nagging']}}' == 'True'){
            delay = setInterval(function(){
                /* Wenn Cookiedialog-Modal offen ist, Nagging Modal nicht öffnen, da sonst Cookiedialog geschlossen wird  */
                if (document.getElementById('cookie_manager_lv1').classList.contains('show') == false){
                    /* öffen modal */
                    document.getElementById('nagging_modal_trigger').click();
                    clearInterval(delay);
                }
            },4000);
        }
        /* versteckt den Breich zu berechtigtem Interesse im Cookiedialog. Kann durch den richtigen Buttonclick sichtbar gemacht werden */
        document.getElementById('berechtigtes_interesse').style.display = "none";
    </script>
    {% endblock %}
</div>


