
    {% extends 'base.html' %}

    <div class="navigation"> 
    {% block navigation %}
        <!-- Flex container, since offcanvas for the user menu does not werk inside navbar -->
        <div class="d-flex maincolor_level1">
            <!-- ERstes Flex element soll die gesamte fläche außer den benutzer-button einnehmen daher w-100 -->
            <nav class="navbar navbar-expand-md sticky-top navbar p-2 w-100" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('deceptv')}}">
                        <span id="logo" class="maincolor"><b>Decep</b>TV</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav white">
                            <li class="nav-item nav_item_level1">
                                <a class="nav-link" href="{{url_for('deceptv_premium')}}">Premium</a>
                            </li>
                            <li class="nav-item nav_item_level1 ">
                                <a class="nav-link " href="#">Filme</a>
                            </li>
                            <li class="nav-item nav_item_level1">
                                <a class="nav-link" href="#">Serien</a>
                            </li>
                            <li class="nav-item nav_item_level1 ">
                                <a class="nav-link " href="#">Genre</a>
                            </li>
                        </ul>
                        <!-- Suchleiste -->
                        <form class="d-flex ms-auto p-2" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </nav>
            <!-- align-self-center: button zentrieren| ms-auto: auf dei rechte seite schieben |p-2: flex element -->
            <div class="p-2 ms-auto align-self-center account_menu">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menü</button>
                    <div class="offcanvas offcanvas-end " data-bs-backdrop="false" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-theme="dark">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">DecepTV Menü</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body offcanvas_level1">
                            <ul class="account_menu_options">
                                <li>
                                    <a href="{{url_for('deceptv_account')}}">Dein Account</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_favoriten')}}">Deine Favoriten</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_vorschlaege')}}">Unsere Vorschläge für dich</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_social')}}">ProcrasTV Social</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_angebote')}}">PracrasTV Angebote</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_shop')}}">ProcrasTV Shop</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_datenschutzrichtlinie')}}">Datenschutzrichtlinie</a>
                                </li>
                                <li>
                                    <a href="#">Demnächst bei uns</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_erkunden')}}">Erkunden</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_datenschutzmanager')}}">Datenschutz-Manager</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_premium')}}">ProcrasTV Premium</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_service')}}">Kund*innenservice</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_feedback')}}">Feedback</a>
                                </li>
                                <li>
                                    <a href="{{url_for('deceptv_impressum')}}">Impressum</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>

    <div class="content">
        {% block content %} 
        
        {% endblock %}
    </div>

