{% extends 'base.html' %}

<div class="navigation"> 
{% block navigation %}
    <!-- Flex container, since offcanvas for the user menu does not werk inside navbar -->
    <div class="d-flex maincolor_level2">
        <!-- ERstes Flex element soll die gesamte fläche außer den benutzer-button einnehmen daher w-100 -->
        <nav class="navbar navbar-expand-xl sticky-top navbar p-2 w-100" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand maincolor_level2 " href="{{ url_for('decepdive')}}">
                    <span id="logo"><b>Decep</b>Dive</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <form class="d-flex p-2 mx-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="Sonnencreme" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav white">
                        <li class="nav-item nav_item_level2 mx-1">
                            <a class="nav-link maincolor_level2 " href="#">Angebote</a>
                        </li>
                        <li class="nav-item nav_item_level2 mx-1">
                            <a class="nav-link maincolor_level2" href="#">Kategorien</a>
                        </li>
                        <li class="nav-item nav_item_level2 mx-1">
                            <a class="nav-link maincolor_level2" href="#">Nachhaltigkeit</a>
                        </li>
                        <li class="nav-item nav_item_level2 mx-1">
                            <a class="nav-link maincolor_level2" href="#">Unternehmensphilosophie</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
{% endblock %}
</div>

<div class="content">
    {% block content %} 
    
    {% endblock %}
</div>
