<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.P. Escape</title>
</head>
<body>
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="container deceptv_premium_container">
        <br>
        <h1>Unsere <b>Decep</b>TV Premium Angebote im Überblick</h1>
        <hr>
        <div class="row">
            <div class="col">
                <h3>DecepTV Premium Bassic</h3>
                <ul>
                    <li>Für 1 Person</li>
                    <li>Unbegrenztes Streaming</li>
                    <li>HD Auflösung</li>
                </ul>
                <a href="#"><button class="btn btn-primary">Auswählen</button></a>
            </div>
            <div class="col">
                <h3>DecepTV Premium Silver</h3>
                <ul>
                    <li>Für bis zu 3 Personen</li>
                    <li>Unbegrenztes Streaming</li>
                    <li>Full HD Auflösung</li>
                </ul>
                <a href="#"><button class="btn btn-outline-secondary">Momentan Aktiv</button></a>
            </div>
            <div class="col">
                <h3>DecepTV Premium Gold</h3>
                <ul>
                    <li>Für bis zu 5 Personen</li>
                    <li>Unbegrenztes Streaming</li>
                    <li>4k Auflösung</li>
                    <li>Familienrabatt</li>
                </ul>
                <a href="#"><button class="btn btn-warning">Auswählen</button></a>
            </div>
        </div>
        <hr>
        <!-- Flex element, um Inhalt zu zentrieren -->
        <div id="vorteile_banner" class="d-flex flex-column justify-content-center maincolor_level1">
                <p>Deine Vorteile</p>
        </div>
        <div id="vorteile">
            <div class="row">
                <div class="col">
                    <h3>Unbegrenztes streaming!</h3>
                </div>
                <div class="col">
                    <h3>Exklusive <b>Decep</b>TV Inhalte!</h3>
                </div>
                <div class="col">
                    <h3>Social Watch - Mit Familie oder Freund*innen</h3>
                </div>
                <div class="col">
                    <h3>Passende Vorschläge nur für dich</h3>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <script>
        window.onload = level_countdown('{{session['countdown']}}');
    </script>
    {% endblock %}
</body>
</html>
