
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="container">
        <hr>
        <!-- Flex element, um Inhalt zu zentrieren -->
        <div id="vorteile_banner" class="d-flex flex-column justify-content-center maincolor_level1">
                <p><b>Decep</b>TV Merch <br> Brandneu!</p>
        </div>
        <div id="vorteile">
            <div class="row">
                <div class="col">
                    <h3>Shirts</h3>
                    <button class="btn btn-primary">Zu den Artikeln</button>
                </div>
                <div class="col">
                    <h3>Hoodies</h3>
                    <button class="btn btn-primary">Zu den Artikeln</button>
                </div>
                <div class="col">
                    <h3>Tassen</h3>
                    <button class="btn btn-primary">Zu den Artikeln</button>
                </div>
                <div class="col">
                    <h3>Dekoration</h3>
                    <button class="btn btn-primary">Zu den Artikeln</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <script>
             window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
    </script>
    {% endblock %}

