
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="container">
        <hr class="mt-5">
        <h3>Folgen Sie einfach den Anweisungen im Kündigungsmenü und bestätigen Sie die Kündigung indem sie den Kündigungs-Knopf drücken.</h3>
        <p>Bei Problemen Ihr Abo zu kündigen, wenden sie sich bitte an den Hilfezentrum </p>
        <hr>
    </div>
    <script>
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
    </script>
    {% endblock %}
