<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.P. Escape</title>
</head>
<body>
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="container">
        <hr>
        <h3>Folgen sie einfach den Anweisungen im Kündigungsmenü und bestätigen sie die Kündigung indem sie den Kündigungs-Knopf drücken.</h3>
        <p>Bei bestehenden Problemen, wenden sie sich bitte an den Kund*innenservice </p>

    </div>
    <script>
        window.onload = level_countdown('{{session['countdown']}}');
    </script>
    {% endblock %}
</body>
</html>