<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.P. Escape</title>
</head>
<body>
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="content_level1 ">
        <div class="showcase">
            <img class="img-fluid rounded atrappe" src="{{url_for('static', filename='images/showcase.jpg')}}" alt="">
        </div>
        <div class="carousel_container">
            {% for i in range(5) %}
                <!-- Aufbau des Inhalts in Reihen mit klickbaren Karusellen, die Atrappen von Filmthumbnails enthalten -->
                <!-- Erste Reihe -->   
                <div class="row">
                    {% if i == 0 %}
                        <h3>DecepTV Premium Productions</h3>
                    {% elif i == 1 %}
                        <h3>Beliebte Filme</h3>
                    {% elif i == 2%}
                        <h3>Dokumentationen</h3>
                    {% elif i == 3%}
                        <h3>Tolle Serien</h3>
                    {% elif i == 4%}
                        <h3>Noch tollere Serien</h3>
                    {% endif %}
                    <!-- Carousel_1_Indicator als ID für die 'Next' und 'Prev' Buttons und die Indicatoren-ANzeige, welche Karusell-Element aktiv ist-->
                    <div id="carousel_{{i}}_Indicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel_{{i}}_Indicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel_{{i}}_Indicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carousel_{{i}}_Indicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <!-- Erstes Karusell-Element - Alle Element beinhalten wiederrum Film-Thumbnail-Attrappen -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col">
                                        <!-- bestimmt die größe und border-radius der bilder in base durch .carousel-item img{} bestimmt-->
                                        <!-- Alt-texte optional noch hinzufügen -->
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}"  class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row">
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row">
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                    <div class="col">
                                        <img src="{{deceptv_images.pop()}}" class="d-block w-100 atrappe" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_{{i}}_Indicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel_{{i}}_Indicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        // starte countdown für das level, rufe dafür die aktuelle Zeit des countdown timers von 'session['countdown']' ab
        window.onload = level_countdown('{{session['countdown']}}');
    </script>
    {% endblock %}
</body>
</html>