
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="container py-4">
        <h1>Datenschutzrichtlinie:</h1>
        <h3>Nutzung der Gesammelten Daten:</h3>
        <p> Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br> 
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.<br> 
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br>
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt. <br>
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br>
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt. <br>
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br> 
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt. <br>
        </p>
        <h3>Haftung:</h3>
        <p> Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.<br> 
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br>
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt. <br>
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br> 
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt.
            Hier stehen viele Dinge darüber, wie die Daten,  die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt.
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.<br> 
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt.
        </p>
        <h3>Noch ein Absatz mit Feingedrucktem:</h3>
        <p> Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br> 
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt.
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.<br> 
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br>
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt. <br>
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt.
            Hier stehen viele Dinge darüber, wie die Daten, die auf dieser Website gesammelt werden, verhökert werden.
            Aber insgesamt ist es doch ein sehr langer Text und der Fineprint will ja auch niemeand lesen..<br> 
            DecepTV und DecepDive sind natürlich nur fiktive Websiten innerhalb des Dark Pattern Escape Spiels und es werden keine Daten über dich gesammelt.
        </p>
    </div>
    <script>
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
    </script>
    {% endblock %}

