
    {% extends 'layout_level1.html' %}

    {% block content %}
    <div class="container">
        <h1>Feedback:</h1>
        <div>
            <p>Wenn du Verbesserungsvorschläge für unsere Dienste oder unsere Website hast, lass es uns gerne wissen!</p>
            <label for="text">Dein Feedback: </label>
            <input type="text" class="w-100">
            <input type="submit" class="btn btn-success mt-2" value="Abschicken">
        </div>
    </div>
    <script>
        window.onload = level_countdown('{{session['countdown']}}', '{{session['level_fortschritt']}}');
    </script>
    {% endblock %}
